/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($class) {
  
  @if $class == iPhoneFive {
    @media (max-width: 320px) { @content; }
  }

  @else if $class == iPhoneSix {
    @media (max-width: 375px) { @content; }
  }

  @else if $class == iPhone {
    @media (max-width: 425px) { @content; }
  }

  @else if $class == mobile {
    @media (max-width: 576px) { @content; }
  }

  @else if $class == mobileLg {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == tabletPortrait {
    @media (max-width: 768px) { @content; }
  }

  @else if $class == tabletLandscape {
    @media (max-width: 1024px) { @content; }
  }

  @else if $class == laptop {
    @media (max-width: 1200px) { @content; }
  }

  @else if $class == iMac {
    @media (max-width: 1250px) { @content; }
  }

  @else if $class == laptopMedium {
    @media (max-width: 1300px) { @content; }
  }

  @else if $class == desktopStandard {
    @media (max-width: 1366px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: Tablet Landscape, Tablet Portrait, Mobile";
  }
}
// Custom devices
@mixin rwd($screen) {
   @media (max-width: $screen+'px') {
       @content;
   }
}
// Custom devices
@mixin min_width($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}