.page-id-370,.page-id-398 {
	.inside-pages {
		h2 {
		  font-size: 20px;
		}
		.content-wrapper {
			ul {
				max-width: 80%;
				margin: auto;
				padding: 0;
				list-style: none;
				@include breakpoint(tabletLandscape) {
					max-width: 100%;
				}
				li {
					position: relative;
					display: flex;
					margin-bottom: 5px;
					&::before {
						content: '';
						min-width: 8px;
						max-width: 8px;
						min-height: 8px;
						max-height: 8px;
						display: block;
						background-color: #d2d2d2;
				    margin-top: 5px;
				    margin-right: 15px;
					}
				}
			}
		}
	}
	.quote-wrapper {
		background-color: $primary_color;
		.atec-inner-container {
	    padding: 100px 0;
	    position: relative;
	    .quote-icon {
	    	display: inline-flex;
	    	position: absolute;
	    	&.top {
	    		top: 60px;
	    		left: 0;
	    		.quote {
	    			&::before {
	    				content: '';
	    				width: 0; 
						  height: 0; 
						  border-top: 10px solid transparent;
						  border-bottom: 10px solid transparent; 
						  border-right:10px solid #FFF;
						  position: absolute;
						  top: -10px;
						  left: 0; 
	    			}
	    		}
	    	}
	    	&.bottom {
	    		bottom: 60px;
	    		right: 0;
	    		.quote {
	    			&::before {
	    				content: '';
	    				width: 0; 
						  height: 0; 
						  border-top: 10px solid transparent;
						  border-bottom: 10px solid transparent; 
						  border-left:10px solid #FFF;
						  position: absolute;
						  bottom: -10px;
						  right: 0; 
	    			}
	    		}
	    	}
	    	.quote {
		    	width: 20px;
		    	height: 20px;
		    	background-color: #FFF;
		    	margin-right: 5px;
    			position: relative;
		    	&:last-of-type {
		    		margin: 0;
		    	}
	    	}
	    }
		}
		.quote-title {
			font-family: $open_sanslight;
			color: #bdeded;
			text-align: center;
	    font-size: 32px;
	    line-height: 46px;
	    @include breakpoint(tabletPortrait) {
	    	font-size: 26px;
	    	line-height: 40px;
	    }
	    @include breakpoint(mobile) {
	    	font-size: 22px;
	    	line-height: 32px;
	    }
	    br {
	    	@include breakpoint(tabletLandscape) {
	    		display: none;
	    	}
	    }
		}
	}
	.semiconductor-types-wrapper {
		border-top: 1px solid #e0e0e0;
		margin-top: 40px;
    padding-top: 40px;
    &:first-of-type {
    	border: 0;
    	margin-top: 0;
    	padding-top: 0;
    }
		.title-wrapper {
			.title {
				font-family: $font_title;
		    color: #038788;
		    font-size: 26px;
		    margin-bottom: 10px;
		    text-align: center;
		    @include breakpoint(tabletPortrait) {
		    	font-size: 22px;
		    }
			}
			p {
		    font-size: $body_text_size;
		    font-family: $font_body;
		    color: #414141;
		    @include breakpoint(tabletPortrait) {
		    	font-size: $body_text_size_mobile;
		    }
			}
		} 
		.articles  {
			margin-top: 25px;
		}
		.know-more {
			color: $primary_color;
			font-family: $font_subtitle;
			font-size: 12px;
	    text-decoration: underline;
		}
	}
	.semiconductor-types-articles {
		text-decoration: none !important;
		&:hover {
			.title {
				color: $primary_color;
			}
		}
		&:nth-of-type(n+4) {
			margin-top: 25px;
		}
		img {
			width: 100%;
			height: 16vw;
			object-fit: cover;
			@include breakpoint(mobile) {
				height: 50vw;
			}
		}
		.title {
			font-family: $font_title;
			font-size: 18px;
			color: #545454;
			margin: 15px 0;
	    @include breakpoint(tabletPortrait) {
	    	font-size: 16px;
	    }
		}
		p {
			font-family: $font_body;
			font-size: $body_text_size;
			color: #545454;
	    @include breakpoint(tabletPortrait) {
	    	font-size: $body_text_size_mobile;
	    }
		}
		.know-more {
			color: $primary_color;
			font-family: $font_subtitle;
			font-size: 12px;
		}
	}
}

.semiconductor-article-page {
	display: flex;
	margin-bottom: -60px;
	@include breakpoint(mobile) {
		flex-direction: column-reverse;
	}
	.quicklinks {
		flex-basis: 35%;
		padding-left: 15%;
		background-color: #fbfbfb;
		padding-right: 50px;
		padding-top: 60px;
		padding-bottom: 60px;
		@include breakpoint(tabletPortrait) {
			padding-left: 10%;
			padding-right: 15px;
		}
		@include breakpoint(mobile) {
			padding: 30px 10%;
			display: flex;
	    flex-wrap: wrap;
		}
	}
	.main-article {
		flex-basis: 65%;
		padding-right: 15%;
		padding-top: 60px;
		padding-bottom: 60px;
		padding-left: 50px;
		@include breakpoint(tabletPortrait) {
			padding-right: 10%;
		}
		@include breakpoint(mobile) {
			padding: 30px 10%;
		}
		.title {
			font-family: $font_title;
	    color: $primary_color;
	    font-size: 24px;
	    margin-bottom: 10px;
			@include breakpoint(tabletPortrait) {
				font-size: 20px;
			}
		}
		p,li {
			font-size: $body_text_size;
			font-family: $font_body;
			@include breakpoint(tabletPortrait) {
				font-size: $body_text_size_mobile;
			}
		}
	}
	.semiconductor-types-wrapper {
		margin-top: 25px;
		@include breakpoint(mobile) {
	    flex-basis: 100%;
	    margin-top: 0;
	    margin-bottom: 15px;
		}
		&:first-of-type {
			margin-top: 0;
		}
		.title-wrapper {
			.title {
				font-family: $font_title;
		    color: $primary_color;
		    font-size: 18px;
		    margin-bottom: 10px;
		    a {
		    	// color: #545454;
		    	color: $primary_color;
		    	text-decoration: none;
		    }
		    &.active,&:hover {
		    	a {
		    		color: $primary_color;
		    	}
		    }
			}
		}
		.semiconductor-types-articles {
			text-decoration: none  !important;
			position: relative;
			display: flex;
			&:hover,&.active {
				.title {
					color: $primary_color;
				}
				&::before {
					background-color: $primary_color;
				}
			}
			&::before {
				content: '';
				min-width: 8px;
				max-width: 8px;
				min-height: 8px;
				max-height: 8px;
				display: block;
				background-color: #d2d2d2;
		    margin-top: 4px;
		    margin-right: 10px;
			}
			.title {
				font-family: $font_body;
				font-size: 14px;
				color: #545454;
			}
		}
	}
}

.page-id-398 {
	.article-wrapper {
		margin: 100px 0;
	}
}

.downloads-mainwrapper {
	.subtitle {
		font-family: $font_title;
    color: $primary_color;
    font-size: 22px;
    margin-bottom: 10px;
		@include breakpoint(tabletPortrait) {
			font-size: 18px;
		}
	}
	.downloads-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
    border-bottom: 1px solid #707070;
    text-decoration: none;
    padding-bottom: 15px;
    margin-bottom: 15px;
		p {
			color: #000;
			margin: 0;
			font-family: $font_body;
			font-size: 16px;
		}
		.fa {
			color: $primary_color;
		}
	}
}