.job-openings-wrapper  {
	.title-wrapper {
		.title {
			margin: 0;
		}
	}
}

.jobs-wrapper {
	margin-top: 50px;
	display: flex;
  flex-direction: column;
  align-items: baseline;
	.title {
		font-family: $font_title;
		font-size: 16px;
		color: #545454;
		margin: 0 0 5px;
	}
	.employment-type {
    font-size: 14px;
    margin-bottom: 15px;
	}
	.btn-link {
		margin-top: auto;
	}
}