.certifications-wrapper {
	margin-top: 50px;
	.col-md-4 {
		@include breakpoint(mobile) {
			margin-top: 30px;
		}
		&:first-of-type {
			@include breakpoint(mobile) {
				margin-top: 0;
			}
		}
	}
	.cert-container {
		text-align: center;
		text-decoration: none;
		display: block;
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		img {
			margin-bottom: 20px;
			max-width: 100%;
			width: 30%;
			transform: scale(1);
			transition: .3s ease;
		}
	}
}