.contact-us-container {
	.gmap-wrapper {
		margin-bottom: 30px;
		iframe {
			width: 100%;
		}
	}

	.contact-details-wrapper {
		.contact-title {
			text-align: right;
			p {
				font-family: $font_title;
				color: $primary_color;
				font-size: 14px;
			}
		}
		.contact-desc {
			p {
				font-family: $font_body;
				font-size: 14px;
				color: #414141;
			}
		}
	}
}

.page-id-191  {
	.atec-forms  {
		margin: 0 -5px 0;
	}
	.left-content {
		text-align: center;
	}
	.right-content {
		max-width: 800px;
		margin: auto;
		display: flex;
		& > div {
			width: 50%;
		}
	}
}

#wpcf7-f197-p191-o1 {
	.form-group {
		padding: 0;
	}
	.atec-forms {
		margin: 30px auto;
	}
}