.site-footer {
	// background-color: #00A4A512;
	background-color: rgba(0, 163, 163, 0.07);
	position: relative;
	padding: 80px 0;
	margin-top: 60px;
	@include breakpoint(mobile) {
		text-align: center;
		padding: 50px 0;
	}
	.logo-wrapper {
		img {
			max-width: 180px;
			width: 100%;
			@include breakpoint(mobile) {
				max-width: 120px;
				margin-bottom: 30px;
			}
		}
	}
	&::before {
		content: '';
		background: url('assets/images/top-right.png') no-repeat;
		position: absolute;
		background-size: 100%;
		width: 90px;
		height: 98px;
    right: 0;
    top: 0;
	}
	&::after {
		content: '';
		background: url('assets/images/bottom-left.png') no-repeat;
		position: absolute;
		background-size: 100%;
		width: 90px;
		height: 98px;
    left: 0;
    bottom: 0;
	}
	.footer-title {
		font-size: 14px;
		font-family: $font_subtitle;
		color: $primary_color;
		margin-bottom: 15px;
	}
	#menu-footer-menu {
		padding: 0;
		list-style: none;
		a {
			font-family: $font_body;
			font-size: 14px;
			color: #6D6D6D;
			text-decoration: none;
		}
		li {
			margin-top: 5px;
			line-height: 18px;
			&:first-of-type {
				margin-top: 0;
			}
		}
	}

	.widget-item {
		margin-top: 30px;
		&:first-of-type {
			margin-top: 0;
		}
		p {
			font-family: $font_body;
			font-size: 14px;
			color: #6D6D6D;
		}
	}

	.social-media-footer {
		#menu-social-media-footer-1 {
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			@include breakpoint(mobile) {
				justify-content: center;
			}
		}
		li {
			font-size: 0;
			a {
		  	background: url('assets/images/media-sprite.png') no-repeat;
		  	background-position: 0 0;
		  	font-size: 0;
		  	width: 30px;
		    height: 30px;
		    display: inline-block;
		    background-size: 92px;
		    margin-right: 15px;
			}
			&:last-of-type {
				a {
					margin-right: 0;
				}
			}
			&.fb {
				a {
			    background-position: 0px -1px;
			    width: 21px;
			    height: 21px;
				}
			}
			&.ig {
				a {
			    background-position: -69px 0px;
			    width: 22px;
			    height: 23px;
				}
			}
			&.linked-in {
				a {
					background-position: -22px 0px;
					width: 22px;
					height: 23px;
				}
			}
			&.twitter {
				a {
					background-position: -44px 0px;
					width: 25px;
					height: 23px;
				}
			}
		}
  }

  .footer-4 {
  	.widget-item {
  		&:first-of-type {
  			min-height: 125px;
  		}
  	}
  }

}