.atec-forms {
	max-width: 600px;
	margin: 50px auto;
	.form-group {
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.attach-resume {
		display: flex;
    align-items: center;
		.wpcf7-form-control-wrap {
			display: none;
		}
		#resumeField {
			flex-basis: 80%;
		}
		.file-upload {
			flex-basis: 20%;
			border: 1px solid #5B5B5B;
			margin-left: 10px;
			text-align: center;
	    padding: 7px 15px;
	    font-size: 12px;
	    font-family: $font_subtitle;
	    color: #5B5B5B;
	    height: 33px;
	    text-decoration: none;
			transition: 0.2s ease;
	    &:hover,&:focus,&:active {
	    	background-color: $primary_color;
	    	border-color: $primary_color;
	    	color: #FFF;
	    }
		}
	}
	input,textarea,select {
		font-size: 14px;
		padding: 8px 15px;
		width: 100%;
		border-radius: 0;
		border: 1px solid #707070;
		font-family: $font_body;
		outline: 0 !important;
		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		  color: #41414159;
		  opacity: 1; /* Firefox */
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: #41414159;
		}
		&::-ms-input-placeholder { /* Microsoft Edge */
		  color: #41414159;
		}
		&:hover,&:focus,&:active {
			border-color: $primary_color;
		}
	}
	select {
		padding: 8px 10px;
	}
	.frm-btn {
		padding: 0 5px;
		.wpcf7-submit {
			float: right;
	    font-size: 12px;
	    font-family: $font_subtitle;
	    width: auto;
	    background-color: $primary_color;
	    color: #FFF;
	    border: 0;
	    padding: 8px 16px;
	    min-width: 120px;
			transition: 0.2s ease;
		}
	}
}

.home {
	.atec-forms {
    margin-top: 0;
    max-width: 480px;
    .form-title {
    	font-family: $font_title;
    	font-size: 26px;
    	color: $primary_color;
    	margin-bottom: 20px;
	    padding: 0 5px;
    }
    .frm-btn {
    	.wpcf7-submit {
    		// border: 1px solid #5B5B5B;
    		// color: #5B5B5B;
  			color: #FFF;
    		background-color: $primary_color;
    		// &:hover,&:active,&:focus {
    			// background-color: $primary_color;
    			// border-color: $primary_color;
    		// }
    	}
    }
	}
}