#homepageCarousel {
	height: 82vh;
  overflow: hidden;
  @include breakpoint(mobile) {
  	height: 300px;
  }
  .persistent-video-wrapper {
		position: absolute;
    bottom: 30px;
    left: 120px;
		z-index: 16;
		@include breakpoint(tabletPortrait) {
			left: 5%;
		}
		.play-btn-box {
			position: relative;
			background-color: #ffffffbf;
			display: inline-block;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			transition: .3s ease;
			margin-right: 12px;
			&::before {
				position: absolute;
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 13px solid #038788c7;
				bottom: 0;
				top: 0;
				left: 4px;
				right: 0;
				margin: auto;	
				transition: .3s ease;
			}
		}
	  .play-btn {
			position: relative;
	    display: flex;
	    align-items: center;
	    font-size: 18px;
	    font-family: $font_title;
	    color: #FFF;
	    text-decoration: none;
			transition: .3s ease;
			@include breakpoint(mobile) {
				font-size: 0;
			}
			&:hover {
				color: $primary_color;
				.play-btn-box  {
					background-color: #038788c7;
					&::before {
						border-left: 13px solid #ffffffbf;
					}
				}
			}
	  }
  }
  img,video {
  	height: 82vh;
  	object-fit: cover;
	  @include breakpoint(mobile) {
	  	height: 300px;
	  }
  }
	.carousel-item {
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
	    background-color: #0000006e;
	    z-index: 1;
		}
	}
	.carousel-caption {
		z-index: 2;
		top: 0;
		bottom: 0;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		left: 22%;
		right: 22%;
		@include breakpoint(tabletPortrait) {
			left: 15%;
	    right: 15%;
		}
		@include breakpoint(iPhoneSix) {
			left: 5%;
			right: 5%;
		}
		h5 {
			font-size: 56px;
			font-family: $font_title;
	    text-shadow: 1px 3px 10px #000000;
	    @include breakpoint(tabletLandscape) {
	    	font-size: 40px;
	    }
	    @include breakpoint(tabletPortrait) {
	    	font-size: 34px;
	    }
	    @include breakpoint(mobile) {
	    	font-size: 26px;
	    }
		}
		.btn-link {
			margin-top: 15px;
		}
	}
}

.carousel-indicators {
	bottom: 0;
	li {
		height: 10px;
    width: 10px;
    margin: 0 8px;
    background-color: #EBEBEB;
    opacity: 1;
    &.active {
    	background-color: $primary_color;
    }
	}
}

.capabilities-wrapper {
	height: auto;
	margin-bottom: 20px;
	& > .row {
		height: 100%;
		margin: 0;
	}
	.capabilities-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 50px 8%;
		text-align: center;
		@include breakpoint(tabletPortrait) {
			padding: 50px;
		}
		figure {
			margin: 0;
			img {
				width: 100%;
				height: auto;
				max-width: 70%;
			}
		}
		&:first-of-type {
			background-color: $primary_color;
			color: #FFF;
		}
		&:last-of-type {
			background-color: #F9F9F9;
			color: $primary_color;
		}
		.capabilities-title {
			font-family: $font_title;
			font-size: 18px;
			margin: 24px 0 12px;
			@include breakpoint(tabletPortrait) {
				font-size: 16px;
			}
		}
		p {
			max-width: 70%;
			width: 100%;
	    font-size: $body_text_size;
	    font-family: $font_body;
	    margin: 0;
			@include breakpoint(tabletPortrait) {
				font-size: $body_text_size_mobile;
				max-width: 100%;
			}
		}
		.btn-link {
			margin-top: 20px;
		}
	}
}

.news-container {
	.row {
		margin: 0 -6px;
	}
	.news-wrapper {
		text-decoration: none;
		padding: 0 6px;
		@include breakpoint(tabletPortrait) {
			max-width: 50%;
			flex-basis: 50%;
			margin-top: 30px;
		}
		@include breakpoint(mobile) {
			max-width: 100%;
			flex-basis: 100%;
		}
		&:first-of-type {
			@include breakpoint(mobile) {
				margin-top: 0;
			}
		}
		&.data-fancybox-class {
			&::before {
				display: none;
			}
			.img-wrapper {
				position: relative;
				&:hover {
					&::before {
						border-left: 60px solid #038788c7;
					}
				}
				&::before {
					position: absolute;
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					border-top: 40px solid transparent;
					border-bottom: 40px solid transparent;
					border-left: 60px solid #ffffffbf;
					bottom: 0;
					top: 0;
					left: 0;
					right: 0;
					margin: auto;	
					transition: .3s ease;
				}
			}
		}
		img {
			width: 100%;
			height: 18vw;
			object-fit: cover;
			@include breakpoint(tabletPortrait) {
				height: 30vw;
			}
			@include breakpoint(mobile) {
				height: 60vw;
			}
		}
	}
	.time {
		margin: 15px 0;
		color: #414141;
		font-family: $font_sub_body;
		font-size: 12px;
	}
	.news-title {
		color: #545454;
		font-family: $font_subtitle;
		font-size: 18px;
		@include breakpoint(tabletPortrait) {
			font-size: 16px;
		}
		&:hover {
			color: $primary_color;
		}
	}
}

.markets-container {
	.row {
		margin: 0 -8px;
	}
	.markets-wrapper {
		position: relative;
		margin-top: 16px;
		padding: 0 8px;
		@include breakpoint(tabletPortrait) {
			max-width: 50%;
			flex-basis: 50%;
		}
		@include breakpoint(mobile) {
			max-width: 100%;
			flex-basis: 100%;
		}
		&:nth-child(-n+3) {
			margin-top: 0;
			@include breakpoint(tabletPortrait) {
				margin-top: 16px;
			}
		}
		img {
			width: 100%;
			height: 22vw;
	    object-fit: cover;
	    @include breakpoint(tabletPortrait) {
	    	height: 30vw;
	    }
	    @include breakpoint(mobile) {
	    	height: 60vw;
	    }
		}
	}
	.markets-inner-wrapper {
		position: relative;
		overflow: hidden;
		&:hover {
			.info-container {
				bottom: 0;
				opacity: 1;
			}
			& > .markets-title {
				opacity: 0;
				bottom: calc(45px + 50%);
			}
			.btn-learn-more {
				&::after {
					width: 100%;
				}
			}
		}
		& > .markets-title {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			text-align: center;
			color: #FFF;
			opacity: 1;
			transition: .3s ease;
		}
		.markets-title {
			font-family: $font_subtitle;
			font-size: 18px;
		}
	}
	.info-container {
		position: absolute;
		height: 100%;
		bottom: -70%;
		left: 0;
		right: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		display: flex;
		// background-color: #038789BD;
		background-color: rgba(3, 135, 137, 0.74);
		color: #FFF;
		padding: 0 15%;
		transition: .3s ease;
		opacity: 0;
		.markets-title {
			margin-bottom: 20px;
		}
		p {
			font-family: $font_body;
			font-size: $body_text_size;
			margin: 0;
			@include breakpoint(tabletLandscape) {
				font-size: $body_text_size_mobile;
			}
		}
	}
}

.page-id-5 {
	.contact-us  {
		background-color: #fafafa;
		padding-top: 0;	
		margin: 0;
		padding: 60px 0;
		h2 {
			font-size: 28px;
			font-family: $font_title;
			color: $primary_color;
			margin: 0 0 50px;
			@include breakpoint(mobile) {
				font-size: 22px;
				margin-bottom: 20px;
			}
		}
		.wp-block-columns  {
		 	margin-bottom: 0;
		 	.wp-block-column {
		 		&:first-of-type {
					flex-basis: 55%;
		 		}
		 		&:last-of-type {
		 			flex-basis: 45%;
		 			@include breakpoint(mobile) {
		 				margin-top: 30px;
		 			}
		 		}
		 	}
		}
	}
	&.home {
		.atec-forms  {
			margin-bottom: 0;
			max-width: 100%;
			input,textarea,select {
				border: 1px solid $primary_color;
			}
		}
	}

	.wpcf7 {
		// height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.form-title {
			display: none;
		}
	}
	.site-footer {
		margin-top: 0;
	}
}