
.main-header {
	background-color: #FFF;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 30;
	.navbar-expand-md {
		padding: 18px 16px;
		transition: .3s ease;
		@include breakpoint(tabletPortrait) {
			padding: 10px 16px;
		}
	}
	&.scrolled {
		.navbar-brand {
			max-width: 130px;
			@include breakpoint(tabletPortrait) {
				max-width: 100px;
			}
			@include breakpoint(mobile) {
				max-width: 80px;
			}
		}
		.navbar-expand-md {
			padding: 5px 16px;
		}
	}
	.navbar-brand {
		margin: 0;
		max-width: 160px;
		width: 100%;
		transition: .3s ease;
		@include breakpoint(tabletLandscape) {
			max-width: 140px;
		}
		@include breakpoint(tabletPortrait) {
			max-width: 120px;
		}
		@include breakpoint(mobile) {
			max-width: 100px;
		}
		img {
			// max-width: 150px;
			width: 100%;
		}
	}
	.collapse {
		flex-direction: column;
		align-items: flex-end;
	}
	.navbar-top {
		display: flex;
		align-items: center;
		@include breakpoint(mobileLg) {
			display: none;
		}
		&.mobile-display {
			display: none;
			@include breakpoint(mobileLg) {
				display: block;
			}
		}
	}
	.navbar-nav {
		align-items: center;
		@include breakpoint(mobileLg) {
			width: 100%;
	    align-items: start;
		}
		.dropdown-toggle {
			&::after {
				display: none;
			}
		}
		.nav-item {
			&.current-menu-parent,
			&.current_page_item {
				& > .nav-link {
					color: $primary_color !important;
				}
			}
		}
		.nav-link {
			color: #606060;
	    font-size: 18px;
	    font-family: $font_sub_body;
	    padding: 0;
	    @include breakpoint(tabletPortrait) {
	    	font-size: 14px;
	    }
	    @include breakpoint(mobileLg) {
	    	display: inline-block;
	    }
	    &:hover,&:focus,&:active {
	    	color: $primary_color !important;
	    }
		}
		.nav-item {
			margin: 8px 20px;	
			@include breakpoint(mobileLg) {
				margin: 8px 0;
				width: 100%;
			}
			&.custom-dropdown {
				position: relative;
				.fa {
					display: none;
					@include breakpoint(mobileLg) {
						display: block;
						color: $primary_color;
						position: absolute;
						right: 15px;
						top: 4px;
						margin: auto;
						height: 16px;
					}
				}
				& > .custom-dropdown-menu {
					.custom-dropdown-menu {
				    @include breakpoint(mobileLg) {
				    	left: 20px;
				    	top: 0;
				    }
					}
				}
				&:hover {
					& > .custom-dropdown-menu {
						@include min_width(768) {
							display: block;
						}
						.custom-dropdown-menu {
							@include min_width(768) {
						    left: 100%;
						    top: -100%;
						  }
						}
					}
				}
			}
		}
		&.navbar-top {
			.nav-link {
				font-size: 14px;	
		    @include breakpoint(tabletPortrait) {
		    	font-size: 12px;
		    }
		    @include breakpoint(mobileLg) {
		    	font-size: 14px;
		    	font-family: $font_subtitle;
		    }
			}
			.atec_search {
				position: relative;
				margin-left: 10px;
				@include breakpoint(mobileLg) {
					max-width: 140px;
					margin-left: 0;
					margin-bottom: 15px;
				}
				input {
					border: 1px solid #e6e6e6;
					border-radius: 0;
					padding: 2px 10px;
					outline: 0;
					font-family: $font_sub_body;
					font-size: 12px;
			    width: 100%;
			    min-width: 170px;
			    @include breakpoint(tabletPortrait) {
			    	min-width: 140px;
			    }
					&:hover,&:focus,&:active {
						border: 1px solid $primary_color;
					}
				}
				.fas {
					color: $primary_color;
				}
				label {
					position: absolute;
					right: 10px;
					top: 0;
					bottom: 0;
					margin: auto;
					height: 16px;
			    font-size: 10px;
				}
			}
		}
		&.navbar-bottom {
			.nav-link {
		    font-family: $font_subtitle;
			}
			.nav-item {
				margin: 8px 25px;	
				@include breakpoint(mobileLg) {
					margin: 8px 0;
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
		.custom-dropdown-menu {
			top: 95%;
			border: 0;
			margin: 0;
	    padding: 15px 0;
	    border-radius: 0;
      left: -20px;
      display: none;
      list-style: none;
      position: absolute;
	    z-index: 3;
	    background-color: #FFF;
	    @include breakpoint(mobileLg) {
	    	position: relative;
	    	left: 0;
	    }
	    .nav-item {
	    	margin: 0;
	    	margin-top: 15px;
	    	&:first-of-type {
	    		margin-top: 0;
	    	}
	    }
			.nav-link {
				font-weight: unset;
	    	padding: 0 30px;
		    white-space: nowrap;
		    font-family: $font_sub_body;
		    font-size: 14px;
		    color: #5B5B5B;
		    @include breakpoint(mobileLg) {
		    	padding: 0 15px;
		    }
			}
		}
	}
}

.sm-link-sticky-container {
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 2;
}
.sm-links-sticky {
	list-style: none;
	background-color: #FFF;
	border-bottom: 5px solid $primary_color;
	margin: 0;
	padding: 12px 0;
	li {
		font-size: 0;
    text-align: center;
    padding: 10px;
		a {
	  	background: url('assets/images/media-sprite.png') no-repeat;
	  	background-position: 0 0;
	  	font-size: 0;
	  	width: 30px;
	    height: 30px;
	    display: inline-block;
	    background-size: 70px;
		}
		&.fb {
			a {
		    background-position: 0px -1px;
		    width: 16px;
		    height: 17px;
			}
		}
		&.ig {
			a {
				background-position: -52px 0px;
				width: 18px;
				height: 18px;
			}
		}
		&.linked-in {
			a {
				background-position: -16px -1px;
				width: 17px;
				height: 16px;
			}
		}
		&.twitter {
			a {
				background-position: -33px -1px;
				width: 19px;
				height: 17px;
			}
		}
	}
}

.header-inside {
	display: flex;
	align-items: center;
	margin-top: 25px;
	.atec_search {
		margin-left: 10px;
		.atec_search_input {
			border: 0;
			border-bottom: 1px solid $primary_color;
			outline: 0;
			font-size: 12px;
			font-family: $font_body;
			width: 0;
			padding: 0;
		}
		label {
			margin: 0;
		}
		.atec_search_button {
			color: $primary_color;
			cursor: pointer;
		}
	}
	.nav-item {
		&:last-of-type {
			margin-right: 25px !important;
		}
	}
}

