/* NEED TO FIX ACTIVE CROPPED BULLET - OVERFLOW HIDDEN ISSUE */

.history-wrapper {
  clear: both;
  .year-bar {
    padding: 60px 0 30px;
    height: 1px;
    justify-content: space-around;
    overflow: hidden;
    &::before {
      content: '';
      height: 2px;
      width: 100%;
      display: block;
      background-color: #b7b7b7;
    }
    .slick-list {
      overflow: unset !important;
    }
  }
  .year-bar-bullet {
    outline: none;
    position: relative;
    &::before {
      content: "";
      display: block;
      background: #B7B7B7;
      height: 16px;
      width: 16px;
      border-radius: 100px;
      z-index: 10;
      margin-top: -8px;
      cursor: pointer;
    }
    p {
      margin: 0;
      position: absolute;
      top: -35px;
      left: -8px;
      color: #B7B7B7;
      font-family: $font_body;
      font-size: 14px;
      cursor: pointer;
    }
  }
  
  .slick-current {
    &.year-bar-bullet {
      p {
        font-size: 18px;
        font-family: $font_title;
        color: $primary_color;
        left: -12px;
        top: -40px;
      }
      &::before {
        background-color: $primary_color;
      }
    }
  }

  .labels {
    margin-top: 50px;
    text-align: center;
  }

  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 32px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    &:hover,&:focus {
      color: transparent;
      outline: none;
      background: transparent;
      &::before {
        opacity: 1;
      }
    }
    &.slick-disabled {
      &::before {
        opacity: 0.25;
      }
    }
    &::before {
      font-size: 32px;
      line-height: 1;
      opacity: 0.75;
      color: #000000;
      font-family: FontAwesome;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include breakpoint(mobile) {
        background-size: 15px !important;
        width: 15px !important;
        height: 28px !important;
      }
    }
  }
  .slick-arrow {
    z-index:3;
    &::before {
      content: '';
      width: 24px;
      height: 43px;
      display: block;
    }
    &.slick-disabled {
      opacity: 0;
    }
  }
  .slick-prev {
    left: 15px;
    &::before {
      background: url(assets/images/prev.png) no-repeat 0 0;
    }
  }
  .slick-next {
    right: 15px;
    &::before {
      background: url(assets/images/next.png) no-repeat 0 0;
    }
  }
  .qb-button {
    display: inline-block;
    background: #00ffa4;
    border-radius: 100px;
    padding: 5px 15px;
    margin-bottom: 15px;
    color: #445058;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
  
  .history-container {
    outline: 0 !important;
  }
  .history-container-inner {
    border: 1px solid #707070;
    display: flex;
    padding: 40px 7%;
    margin: 30px auto 0;
    max-width: 99%;
    align-items: center;
    justify-content: center;
    @include breakpoint(mobile) {
      flex-direction: column;
      padding: 40px 50px;
    }
    & > div {
      flex-basis: 50%;
    }
    .left-content {
      padding-right: 60px;
      @include breakpoint(tabletPortrait) {
        padding-right: 30px;
      }
      @include breakpoint(mobile) {
        padding-right: 0;
        margin-bottom: 15px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .year {
      font-family: $font_title;
      font-size: 26px;
      color: $primary_color;
      @include breakpoint(mobile) {
        font-size: 22px;
      }
    }
    .subtitle {
      font-family: $font_title;
      font-size: 20px;
      color: #5B5B5B;
      @include breakpoint(mobile) {
        font-size: 16px;
      }
    }
  }

}
