.mangement-wrapper {
	& > .row {
		margin: 0 -30px;
	}
}


.management-inner {
	text-align: center;
	text-decoration: none !important;
	margin-top: 30px;
	padding: 0 30px;
	&:nth-of-type(-n+3) {
		margin-top: 0;
		@include breakpoint(mobile) {
			margin-top: 30px;
		}
	}
	&:first-of-type {
		@include breakpoint(mobile) {
			margin-top: 0;
		}
	}
	.img-wrapper {
		margin-bottom: 25px;
		@include breakpoint(tabletPortrait) {
			margin-bottom: 10px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.management-name {
		font-family: $font_title;
		font-size: 20px;
		color: $primary_color;
		margin-bottom: 5px;
		@include breakpoint(tabletPortrait) {
			font-size: 18px;
		}
	}
	.position {
		margin: 0;
	}
}

.management-modal {
	.modal-body {
		display: flex;
	  padding: 30px;
	  @include breakpoint(mobile) {
	  	flex-direction: column;
			text-align: center;
			align-items: center;
	  }
	}
	.modal-content {
		border: 0;
		border-radius: 0;
	}
	.modal-dialog {
    max-width: 920px;
    @include breakpoint(tabletPortrait) {
    	max-width: 90%;
    }
    @include breakpoint(mobile) {
    	margin: 30px auto;
    }
	}
	.close {
		position: absolute;
		top: 30px;
		right: 30px;
		color: $primary_color;
	}
	.img-wrapper {
    margin-right: 30px;
    flex-basis: 30%;
  	@include breakpoint(mobile) {
  		max-width: 500px;
  		margin-bottom: 15px;
  		margin-right: 0;
  	}
    img {
    	width: 100%;
    	height: auto;
    }
	}
	.management-name {
		font-family: $font_title;
		font-size: 26px;
		color: $primary_color;
		@include breakpoint(mobile) {
			font-size: 18px;
		}
	}
	.position {
		font-family: $font_subtitle;
		font-size: 18px;
		color: #5B5B5B;
		@include breakpoint(mobile) {
			font-size: 16px;
		}
	}
	.management-info-wrapper {
    flex-basis: 70%;
	}
	.management-info {
		height: 350px;
    overflow-y: scroll;
    padding-right: 50px;
    @include breakpoint(mobile) {
    	height: 200px;
    	padding-right: 15px;
    }
    /* width */
		&::-webkit-scrollbar {
		  width: 5px; }

		/* Track */
		&::-webkit-scrollbar-track {
		  background: #FFF; }

		/* Handle */
		&::-webkit-scrollbar-thumb {
		  background: rgba(3, 135, 136, 0.48); }

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
		  background: #038788; }
	}
}