.page-id-153 {
	
	.markets-wrapper {
		// margin-top: 100px;
	}

	.markets-inner-wrapper {
		position: relative;
		margin-top: 60px;
		@include breakpoint(tabletPortrait) {
	    max-width: 50%;
	    flex-basis: 50%;
	    margin-top: 0;
	    margin-bottom: 30px;
		}
		@include breakpoint(mobile) {
	    max-width: 100%;
	    flex-basis: 100%;
		}
		&:nth-of-type(-n+3) {
			margin-top: 0;
		}
		img {
			width: 100%;
			height: 15vw;
			object-fit: cover;
			@include breakpoint(tabletPortrait) {
				height: 30vw;
			}
			@include breakpoint(mobile) {
				height: 50vw;
			}
		}
		.img-wrapper {
			position: relative;
		}
		.markets-title {
			font-size: 18px;
			font-family: $font_title;
			color: $primary_color;
			margin: 20px 0;
		}
		p {
			font-family: $font_body;
			font-size: 14px;
			margin: 0;
		}
		.btn-learn-more {
	    text-decoration: underline !important;
	    color: #038789;
		}
	}

}

.single-market {
	.quote-wrapper {
		display: flex;
		background-color: #F9F9F9;
		align-items: center;
		@include breakpoint(mobile) {
			flex-direction: column;
		}
		& > div {
			flex-basis: 50%;
			@include breakpoint(mobile) {
				flex-basis: 100%;
			}
		}
		.quote-text {
			padding-left: 12.5%;
			padding-right: 50px;
			@include breakpoint(mobile) {
				padding: 25px 10% 15px;
			}
			p {
				font-family: $font_subtitle;
				font-size: 22px;
				color: #5B5B5B;
				@include breakpoint(tabletPortrait) {
					font-size: 16px;
				}
			}
		}
		.quote-img {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.related-news {
		margin-top: 80px;
	}
	.related-news-wrapper {
		display: flex;
    flex-direction: column;
		.related-news-info {
			height: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: baseline;
		}
		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}
		.time {
			color: #414141;
			font-family: $font_body;
			font-size: 14px;
			margin: 15px 0 0;
		}
		.related-news-title {
			font-family: $font_title;
			font-size: 16px;
			margin: 15px 0;
			color: $primary_color;
		}
		.btn-learn-more {
			margin-top: auto;
	    text-decoration: underline !important;
	    color: #038788;
		}
	}

	.contact-us-markets {
		background-color: $primary_color;
    margin-bottom: -60px;
    padding: 80px 0;
    text-align: center;
    .contact-message {
    	font-family: $font_title;
    	font-size: 30px;
    	color: #FFF;
	    text-shadow: 0px 1px 3px #565656;
	    margin-bottom: 30px;
	    @include breakpoint(tabletPortrait) {
	    	font-size: 22px;
	    }
    }
	}

}