.page-id-106 {

	#latestUpdates {
		margin-top: 30px;
		max-height: 350px;
		min-height: 350px;
		@include breakpoint(tabletPortrait) {
			max-height: none;
			min-height: 0;
		}
		.carousel-indicators {
			bottom: 0;
			right: 0;
			left: unset;
			margin-right: 0;
			@include breakpoint(tabletPortrait) {
				left: 0;
				right: 0;
				margin: 0;
			}
		}
	}

	.latest-update-wrapper {
		display: flex;
		@include breakpoint(tabletPortrait) {
			flex-direction: column;
		}
		& > div {
			flex: 1;
			flex-basis: 50%;
			@include breakpoint(tabletPortrait) {
				flex-basis: 100%;
			}
			img {
				width: 100%;
				height: 25vw;
				object-fit: cover;
				@include breakpoint(tabletPortrait) {
					height: 50vw;
				}
			}
		}
		.media-content {
			padding: 15px 50px;
			padding-right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: baseline;
			@include breakpoint(tabletPortrait) {
				padding: 15px 0;
			}
			.time {
				font-family: $font_sub_body;
				font-size: 14px;
				color: #5B5B5B;
				margin: 0;
			}
			.title {
				text-decoration: none !important;
				font-family: $font_title;
				font-size: 20px;
				color: $primary_color;
				margin: 20px 0;
				@include breakpoint(mobile) {
					font-size: 16px;
				}
			}
			p {
				font-family: $font_body;
				font-size: $body_text_size;
				color: #414141;
				@include breakpoint(tabletPortrait) {
					font-size: $body_text_size_mobile;
				}
			}
			.btn-learn-more {
			  text-decoration: underline !important;
			  color: #038788;
			  margin: 0;
			}
			.btn-link {
				margin-top: 15px;
			}
		}
	}

}

.other-news {
	margin: 100px 0 100px;
	.row > div {
		margin-top: 50px;
		@include breakpoint(tabletPortrait) {
			max-width: 50%;
			flex-basis: 50%;
			margin-top: 0;
			margin-bottom: 20px;
		}
		@include breakpoint(mobile) {
			max-width: 100%;
			flex-basis: 100%;
		}
		&:nth-of-type(-n+3) {
			margin-top: 0;
		}
	}
	.other-news-wrapper {
		overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
		text-decoration: none;
		&.data-fancybox-class {
			&::before {
				display: none;
			}
			.img-wrapper {
				position: relative;
				&:hover {
					&::before {
						border-left: 60px solid #038788c7;
					}
				}
				&::before {
					position: absolute;
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					border-top: 40px solid transparent;
					border-bottom: 40px solid transparent;
					border-left: 60px solid #ffffffbf;
					bottom: 0;
					top: 0;
					left: 0;
					right: 0;
					margin: auto;	
					transition: .3s ease;
				}
			}
		}
		img {
			width: 100%;
			height: 15vw;
			object-fit: cover;
			@include breakpoint(tabletPortrait) {
				height: 30vw;
			}
			@include breakpoint(mobile) {
				height: 50vw;
			}
		}
		&:hover {
			.other-news-title {
				color: $primary_color;
			}
		}
	}
	.other-news-info {
		height: 100%;
		display: flex;
    flex-direction: column;
    align-items: baseline;
		.time {
			font-family: $font_body;
			color: #414141;
			font-size: 14px;
			margin: 15px 0 0;
		}
		.other-news-title {
			font-family: $font_title;
			font-size: $body_text_size;
			color: #545454;
			margin: 15px 0;
		}
		.btn-learn-more {
			margin-top: auto;
			text-decoration: underline !important;
			color: $primary_color;
		}
	}
}

.wp-block-embed {
	iframe {
		width: 100%;
		height: 30vw;
		@include breakpoint(mobile) {
			height: 50vw;
		}
	}
}