.message-wrapper {
	background-color: $primary_color;
	margin-bottom: -60px;
	// padding: 60px 0;
	color: #FFF;
	.row {
		margin: 0;
	}
	.msg-wrapper {
		display: flex;
    flex-direction: column;
		&:first-of-type {
	    padding: 50px 7%;
		}
		&:last-of-type {
	    padding: 50px 7%;
	    background-color: #F9F9F9;
	    color: $primary_color;
	    p {
		    color: #414141;
		    strong {
		    	font-family: $font_title;
		    }
	    }
		}
	}
	.msg-title {
		font-family: $font_title;
		font-size: 26px;
		margin: 0 0 20px;
		text-align: center;
		@include breakpoint(mobile) {
			font-size: 22px;
			margin-bottom: 15px;
		}
	}
	p {
		color: #FFF;
		font-size: $body_text_size;
		font-family: $open_sanslight;
		@include breakpoint(tabletPortrait) {
			font-size: $body_text_size_mobile;
		}
		@include breakpoint(mobile) {
			text-align: center;
		}
		br {
			margin-bottom: 5px !important;
			display: block !important;
			content: '';
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

// .message-wrapper {
// 	margin: 100px 0;
// 	.message-container {
// 		display: flex;
// 	}	
// 	.img-wrapper {
// 		width: 32%;
// 		img {
// 			width: 100%;
// 			height: auto;
// 		}
// 	}
// 	.message-info-wrapper {
//     margin-left: 50px;
//     padding: 0px 70px;
//     position: relative;
//     img {
//     	width: 50px;
//     }
//     p {
//     	font-family: $font_sub_body;
//     	font-size: 14px;
//     	margin: 30px 0 10px;
//     	strong {
//     		font-family: $font_subtitle;
//     		color: $primary_color;
//     	}
//     }
//     .quote-img {
//     	position: absolute;
//     	&.bottom-quote {
//     		right: 0;
//     		bottom: 0;
//     	}
//     	&.top-quote {
//     		left: 0;
//     		top: 0;
// 		    transform: rotate(180deg);
//     	}
//     }
//     .message-name {
//     	font-family: $font_title;
//     	font-size: 12px;
//     	margin: 0;
//     	text-align: right;
//     }
// 	}
// }

.vision-mission-wrapper {
	ul {
		padding: 0;
		list-style: none;
		li {
			position: relative;
			display: flex;
			margin-bottom: 5px;
			@include breakpoint(mobile) {
				text-align: left;
			}
			&::before {
				content: '';
				min-width: 8px;
				max-width: 8px;
				min-height: 8px;
				max-height: 8px;
				display: block;
				background-color: #d2d2d2;
		    margin-top: 5px;
		    margin-right: 15px;
			}
		}
	}
	.img-wrapper {
		padding: 0;
		img {
			width: 100%;
			height: auto;
		}
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 50px;
		padding-right: 0;
		@include breakpoint(mobile) {
			padding: 15px !important;
			text-align: center;
		}
	}
	.vm-wrapper {
    padding: 30px 0;
    @include breakpoint(mobile) {
    	padding: 0;
    }
		&:nth-of-type(2n+2) {
			.row {
		    flex-direction: row-reverse;
		    .content {
		    	padding-left: 0;
		    	padding-right: 50px;
		    }
			}
		}
	}
	.vm-title {
		font-family: $font_title;
		font-size: 26px;
		margin: 0 0 20px;
		text-align: center;
		color: $primary_color;
		@include breakpoint(mobile) {
			font-size: 22px;
			margin-bottom: 15px;
		}
	}
}