.inside-pages-banner {
	position: relative;
	background-size: cover;
	height: 300px;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include breakpoint(tabletPortrait) {
  	height: 200px;
  }
  @include breakpoint(mobile) {
  	height: 150px;
  }
	.banner-title {
		color: #FFF;
		font-family: $font_title;
		font-size: 54px;
    z-index: 1;
    margin: 0;
    text-shadow: 1px 3px 10px #000000;
    @include breakpoint(tabletLandscape) {
    	font-size: 40px;
    }
    @include breakpoint(tabletPortrait) {
    	font-size: 34px;
    }
    @include breakpoint(mobile) {
    	font-size: 26px;
    }
	}
	.banner-desc {
		color: #FFF;
		font-family: $font_subtitle;
		font-size: 32px;
		z-index: 1;
    text-shadow: 1px 3px 10px #000000;
    margin: -5px 0 0;
    @include breakpoint(tabletPortrait) {
    	font-size: 28px;
    }
    @include breakpoint(mobile) {
    	font-size: 22px;
    }
	}
	&.has-video-banner {
		video {
			height: 300px;
			object-fit: cover;
			position: absolute;
			z-index: -1;
		  @include breakpoint(tabletPortrait) {
		  	height: 200px;
		  }
		  @include breakpoint(mobile) {
		  	height: 150px;
		  }
		}
	}
}

.inside-pages {
	margin-top: 80px;
	@include breakpoint(tabletPortrait) {
		margin-top: 50px;
	}
	h2 {
		font-family: $font_title;
		color: $primary_color;
		font-size: 30px;
		margin-bottom: 20px;
		@include breakpoint(tabletPortrait) {
			font-size: 26px;
		}
		@include breakpoint(mobile) {
			font-size: 22px;
		}
	}
	h4 {
		color: #666666;
		font-size: 18px;
		font-family: $font_subtitle;
	}
	p,li {
		font-size: $body_text_size;
		font-family: $font_body;
		color: #414141;
		@include breakpoint(tabletPortrait) {
			font-size: $body_text_size_mobile;
		}
	}
}


figcaption {
	text-align: center;
	font-family: $font_body;
	font-style: italic;
}

.page-title-wrapper {
	.page-title {
		font-family: $font_title;
		color: $primary_color;
		font-size: 40px;
		margin-bottom: 30px;
	}
}

.wp-block-quote {
	padding-left: 10px;
	border-left: 3px solid #DEDEDE;
	p {
		font-size: 16px;
		font-style: italic;
	}
}

.wp-block-image {
	img {
		height :auto;
	}
}

.data-fancybox-class  {
	position: relative;
	&:hover {
		&::before {
			border-left: 60px solid #038788c7;
		}
	}
	&::before {
		position: absolute;
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 60px solid #ffffffbf;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;	
		transition: .3s ease;
	}
}