.search-page {
	margin-top: 50px;
	.search-for {
		margin-bottom: 50px;
		h1 {
			font-size: 30px;
	    color: #5B5B5B;
	    font-family: $font_title;
	    margin: 0;
	    @include breakpoint(mobile) {
	    	font-size: 22px;
	    }
	    strong {
	    	color: $primary_color;
	    }
		}
	}
	._init_search_result {
		border-bottom: 1px solid #DEDEDE;
		padding-bottom: 30px;
		margin-bottom: 30px;
    @include breakpoint(mobile) {
			padding-bottom: 15px;
			margin-bottom: 15px;
    }
		&:last-of-type {
			border: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		h2 {
			margin: 0;
			a {
				font-family: $font_title;
				color: $primary_color;
				font-size: 26px;
				text-decoration: none;
		    @include breakpoint(mobile) {
					font-size: 18px;
		    }
			}
		}
	}
}