.single-news-container {
	display: flex;
	@include breakpoint(mobile) {
		flex-direction: column;
	}
	.article-wrapper-main {
		width: 70%;
		padding-right: 50px;
		@include breakpoint(tabletLandscape) {
			padding-right: 30px;
		}
		@include breakpoint(mobile) {
			width: 100%;
			padding-right: 0;
		}
	}
	.article-sidebar {
		width: 30%;
		padding-left: 50px;
		@include breakpoint(tabletLandscape) {
			padding-left: 30px;
		}
		@include breakpoint(mobile) {
			width: 100%;
			padding-left: 0;
		}
	}

	.article-body {
		img {
			max-width: 100%;
		}
	}

}

.article-header {
	.article-title-wrapper {
		.article-title {
			font-size: 26px;
			font-family: $font_title;
			color: $primary_color;
			margin-bottom: 15px;
			@include breakpoint(mobile) {
				font-size: 20px;
			}
		}
	}
	.article-sharer {
		display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5B5B5B;
    padding-bottom: 20px;
    margin-bottom: 20px;
    .time {
    	font-family: $font_sub_body;
    	font-size: 14px;
    	color: #5B5B5B;
    	margin: 0;
    }
    .sm-sharer {
    	display: flex;
    }
    .sm-sharer-sprite {
    	background: url('assets/images/media-sprite.png') no-repeat;
    	background-position: 0 0;
    	font-size: 0;
    	width: 25px;
	    height: 25px;
	    display: inline-block;
	    background-size: 80px;
	    margin-right: 15px;
			&:last-of-type {
				margin: 0;
			}
	    &.twitter {
		    width: 21px;
		    height: 18px;
		    background-position: -39px -1px;
	    }
	    &.fb {
				width: 19px;
				height: 19px;
				background-position: 0 -1px;
	    }
    }
	}
}

.article-sidebar {
	.sidebar-title {
		font-size: 20px;
		font-family: $font_title;
		color: $primary_color;
		margin-bottom: 20px;
	}
	.article-list {
		list-style: none;
		padding: 0;
		li {
			margin-top: 15px;
			&:first-of-type {
				margin-top: 0;
			}
		}
		a {
			font-size: 14px;
	    font-family: $font_body;
	    color: #414141;
	    text-decoration: none;
		}
	}
	.btn-learn-more {
		color: $primary_color;
		text-decoration: underline !important;
		margin-top: 20px;
	}
}