.atec-container {
	width: 85%;
	margin: auto;
	max-width: 1920px;
	@include breakpoint(tabletPortrait) {
		width: 90%;
	}
}


.atec-inner-container {
	width: 75%;
	margin: auto;
	max-width: 1920px;	
	@include breakpoint(tabletPortrait) {
		width: 80%;
	}
}

.btn-link {
	color: #5c5c5c;
	border: 1px solid #5c5c5c;
	padding: 6px 10px;
	min-width: 120px;
	font-size: 12px;
	text-decoration: none !important;
	display: inline-block;
	transition: .2s ease;
	font-family: $font_subtitle;
	text-align: center;
	&:hover,&:focus,&:active {
		color: #FFF;
		border-color: $primary_color;
		background-color: $primary_color;
	}
	&.white {
		border-color: #FFF;
		color: #FFF;
		&:hover,&:focus,&:active {
			color: $primary_color;
			border-color: #FFF;
			background-color: #FFF;
		}
	}
}


.section-container {
	padding: 50px 0;
	@include breakpoint(mobile) {
		padding: 20px 0;
	}
	&:last-of-type {
		padding-bottom: 0;
	}
	.section-title {
		text-align: center;
		font-size: 28px;
		font-family: $font_title;
		color: $primary_color;
		margin: 0 0 30px;
		@include breakpoint(mobile) {
			font-size: 22px;
			margin-bottom: 20px;
		}
	}
	.btn-wrapper {
		margin-top: 50px;
	}
}

.btn-learn-more {
	color: #5c5c5c;
	font-weight: 500;
	font-size: 12px;
	margin-top: 12px;
	text-decoration: none !important;
	display: inline-block;
	transition: 0.2s ease;
	position: relative;
	font-family: $font_subtitle;
	text-align: center;
	&.white {
		color: #FFF;
		&::after {
			background-color: #FFF;
		}
	}
	&::after {
		content: '';
		width: 0;
		height: 1px;
		position: absolute;
		background-color: #5c5c5c;
		left: 0;
		right: 0;
		bottom: 0px;
		margin: auto;
		transition: 1s ease;
	}
}

.content-wrapper {
	margin: 50px 0;
	&:first-of-type {
		margin-top: 0;
	}
}

.content-title-wrapper {
	.page-title {
		margin-bottom: 40px;
		text-align: center;
	}
}


.shadow {
	position: absolute;
  width: 100%;
  height: 100%;
  // box-shadow: inset 0 -100px 300px 0 #000000 !important;
	box-shadow: inset 0px -70px 100px -15px #000 !important;
  top: 0;
  left: 0;
}