$primary_color: #038788;

$font_title: 'open_sansbold', sans-serif;
$font_subtitle: 'open_sanssemibold', sans-serif;
$font_sub_body: 'open_sansregular', sans-serif;
$open_sanslight: 'open_sanslight', sans-serif;
$font_body: 'karlaregular', sans-serif;


$body_text_size: 16px;
$body_text_size_mobile: 12px;
