/*
	Theme Name: ATEC
	Author: Kestrel
	Version: 1.0.9;
*/
@import 'assets/fonts/stylesheet.css';
/*********************
BREAKPOINTS
*********************/
.atec-container {
  width: 85%;
  margin: auto;
  max-width: 1920px;
}
@media (max-width: 768px) {
  .atec-container {
    width: 90%;
  }
}

.atec-inner-container {
  width: 75%;
  margin: auto;
  max-width: 1920px;
}
@media (max-width: 768px) {
  .atec-inner-container {
    width: 80%;
  }
}

.btn-link {
  color: #5c5c5c;
  border: 1px solid #5c5c5c;
  padding: 6px 10px;
  min-width: 120px;
  font-size: 12px;
  text-decoration: none !important;
  display: inline-block;
  transition: 0.2s ease;
  font-family: "open_sanssemibold", sans-serif;
  text-align: center;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
  color: #FFF;
  border-color: #038788;
  background-color: #038788;
}
.btn-link.white {
  border-color: #FFF;
  color: #FFF;
}
.btn-link.white:hover, .btn-link.white:focus, .btn-link.white:active {
  color: #038788;
  border-color: #FFF;
  background-color: #FFF;
}

.section-container {
  padding: 50px 0;
}
@media (max-width: 576px) {
  .section-container {
    padding: 20px 0;
  }
}
.section-container:last-of-type {
  padding-bottom: 0;
}
.section-container .section-title {
  text-align: center;
  font-size: 28px;
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  margin: 0 0 30px;
}
@media (max-width: 576px) {
  .section-container .section-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.section-container .btn-wrapper {
  margin-top: 50px;
}

.btn-learn-more {
  color: #5c5c5c;
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  text-decoration: none !important;
  display: inline-block;
  transition: 0.2s ease;
  position: relative;
  font-family: "open_sanssemibold", sans-serif;
  text-align: center;
}
.btn-learn-more.white {
  color: #FFF;
}
.btn-learn-more.white::after {
  background-color: #FFF;
}
.btn-learn-more::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  background-color: #5c5c5c;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  transition: 1s ease;
}

.content-wrapper {
  margin: 50px 0;
}
.content-wrapper:first-of-type {
  margin-top: 0;
}

.content-title-wrapper .page-title {
  margin-bottom: 40px;
  text-align: center;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -70px 100px -15px #000 !important;
  top: 0;
  left: 0;
}

.main-header {
  background-color: #FFF;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 30;
}
.main-header .navbar-expand-md {
  padding: 18px 16px;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .main-header .navbar-expand-md {
    padding: 10px 16px;
  }
}
.main-header.scrolled .navbar-brand {
  max-width: 130px;
}
@media (max-width: 768px) {
  .main-header.scrolled .navbar-brand {
    max-width: 100px;
  }
}
@media (max-width: 576px) {
  .main-header.scrolled .navbar-brand {
    max-width: 80px;
  }
}
.main-header.scrolled .navbar-expand-md {
  padding: 5px 16px;
}
.main-header .navbar-brand {
  margin: 0;
  max-width: 160px;
  width: 100%;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .main-header .navbar-brand {
    max-width: 140px;
  }
}
@media (max-width: 768px) {
  .main-header .navbar-brand {
    max-width: 120px;
  }
}
@media (max-width: 576px) {
  .main-header .navbar-brand {
    max-width: 100px;
  }
}
.main-header .navbar-brand img {
  width: 100%;
}
.main-header .collapse {
  flex-direction: column;
  align-items: flex-end;
}
.main-header .navbar-top {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .main-header .navbar-top {
    display: none;
  }
}
.main-header .navbar-top.mobile-display {
  display: none;
}
@media (max-width: 767px) {
  .main-header .navbar-top.mobile-display {
    display: block;
  }
}
.main-header .navbar-nav {
  align-items: center;
}
@media (max-width: 767px) {
  .main-header .navbar-nav {
    width: 100%;
    align-items: start;
  }
}
.main-header .navbar-nav .dropdown-toggle::after {
  display: none;
}
.main-header .navbar-nav .nav-item.current-menu-parent > .nav-link, .main-header .navbar-nav .nav-item.current_page_item > .nav-link {
  color: #038788 !important;
}
.main-header .navbar-nav .nav-link {
  color: #606060;
  font-size: 18px;
  font-family: "open_sansregular", sans-serif;
  padding: 0;
}
@media (max-width: 768px) {
  .main-header .navbar-nav .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .main-header .navbar-nav .nav-link {
    display: inline-block;
  }
}
.main-header .navbar-nav .nav-link:hover, .main-header .navbar-nav .nav-link:focus, .main-header .navbar-nav .nav-link:active {
  color: #038788 !important;
}
.main-header .navbar-nav .nav-item {
  margin: 8px 20px;
}
@media (max-width: 767px) {
  .main-header .navbar-nav .nav-item {
    margin: 8px 0;
    width: 100%;
  }
}
.main-header .navbar-nav .nav-item.custom-dropdown {
  position: relative;
}
.main-header .navbar-nav .nav-item.custom-dropdown .fa {
  display: none;
}
@media (max-width: 767px) {
  .main-header .navbar-nav .nav-item.custom-dropdown .fa {
    display: block;
    color: #038788;
    position: absolute;
    right: 15px;
    top: 4px;
    margin: auto;
    height: 16px;
  }
}
@media (max-width: 767px) {
  .main-header .navbar-nav .nav-item.custom-dropdown > .custom-dropdown-menu .custom-dropdown-menu {
    left: 20px;
    top: 0;
  }
}
@media (min-width: 768px) {
  .main-header .navbar-nav .nav-item.custom-dropdown:hover > .custom-dropdown-menu {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-header .navbar-nav .nav-item.custom-dropdown:hover > .custom-dropdown-menu .custom-dropdown-menu {
    left: 100%;
    top: -100%;
  }
}
.main-header .navbar-nav.navbar-top .nav-link {
  font-size: 14px;
}
@media (max-width: 768px) {
  .main-header .navbar-nav.navbar-top .nav-link {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .main-header .navbar-nav.navbar-top .nav-link {
    font-size: 14px;
    font-family: "open_sanssemibold", sans-serif;
  }
}
.main-header .navbar-nav.navbar-top .atec_search {
  position: relative;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .main-header .navbar-nav.navbar-top .atec_search {
    max-width: 140px;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
.main-header .navbar-nav.navbar-top .atec_search input {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  padding: 2px 10px;
  outline: 0;
  font-family: "open_sansregular", sans-serif;
  font-size: 12px;
  width: 100%;
  min-width: 170px;
}
@media (max-width: 768px) {
  .main-header .navbar-nav.navbar-top .atec_search input {
    min-width: 140px;
  }
}
.main-header .navbar-nav.navbar-top .atec_search input:hover, .main-header .navbar-nav.navbar-top .atec_search input:focus, .main-header .navbar-nav.navbar-top .atec_search input:active {
  border: 1px solid #038788;
}
.main-header .navbar-nav.navbar-top .atec_search .fas {
  color: #038788;
}
.main-header .navbar-nav.navbar-top .atec_search label {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 16px;
  font-size: 10px;
}
.main-header .navbar-nav.navbar-bottom .nav-link {
  font-family: "open_sanssemibold", sans-serif;
}
.main-header .navbar-nav.navbar-bottom .nav-item {
  margin: 8px 25px;
}
@media (max-width: 767px) {
  .main-header .navbar-nav.navbar-bottom .nav-item {
    margin: 8px 0;
  }
}
.main-header .navbar-nav.navbar-bottom .nav-item:last-of-type {
  margin-right: 0;
}
.main-header .navbar-nav .custom-dropdown-menu {
  top: 95%;
  border: 0;
  margin: 0;
  padding: 15px 0;
  border-radius: 0;
  left: -20px;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 3;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .main-header .navbar-nav .custom-dropdown-menu {
    position: relative;
    left: 0;
  }
}
.main-header .navbar-nav .custom-dropdown-menu .nav-item {
  margin: 0;
  margin-top: 15px;
}
.main-header .navbar-nav .custom-dropdown-menu .nav-item:first-of-type {
  margin-top: 0;
}
.main-header .navbar-nav .custom-dropdown-menu .nav-link {
  font-weight: unset;
  padding: 0 30px;
  white-space: nowrap;
  font-family: "open_sansregular", sans-serif;
  font-size: 14px;
  color: #5B5B5B;
}
@media (max-width: 767px) {
  .main-header .navbar-nav .custom-dropdown-menu .nav-link {
    padding: 0 15px;
  }
}

.sm-link-sticky-container {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 2;
}

.sm-links-sticky {
  list-style: none;
  background-color: #FFF;
  border-bottom: 5px solid #038788;
  margin: 0;
  padding: 12px 0;
}
.sm-links-sticky li {
  font-size: 0;
  text-align: center;
  padding: 10px;
}
.sm-links-sticky li a {
  background: url("assets/images/media-sprite.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: 70px;
}
.sm-links-sticky li.fb a {
  background-position: 0px -1px;
  width: 16px;
  height: 17px;
}
.sm-links-sticky li.ig a {
  background-position: -52px 0px;
  width: 18px;
  height: 18px;
}
.sm-links-sticky li.linked-in a {
  background-position: -16px -1px;
  width: 17px;
  height: 16px;
}
.sm-links-sticky li.twitter a {
  background-position: -33px -1px;
  width: 19px;
  height: 17px;
}

.header-inside {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.header-inside .atec_search {
  margin-left: 10px;
}
.header-inside .atec_search .atec_search_input {
  border: 0;
  border-bottom: 1px solid #038788;
  outline: 0;
  font-size: 12px;
  font-family: "karlaregular", sans-serif;
  width: 0;
  padding: 0;
}
.header-inside .atec_search label {
  margin: 0;
}
.header-inside .atec_search .atec_search_button {
  color: #038788;
  cursor: pointer;
}
.header-inside .nav-item:last-of-type {
  margin-right: 25px !important;
}

.site-footer {
  background-color: rgba(0, 163, 163, 0.07);
  position: relative;
  padding: 80px 0;
  margin-top: 60px;
}
@media (max-width: 576px) {
  .site-footer {
    text-align: center;
    padding: 50px 0;
  }
}
.site-footer .logo-wrapper img {
  max-width: 180px;
  width: 100%;
}
@media (max-width: 576px) {
  .site-footer .logo-wrapper img {
    max-width: 120px;
    margin-bottom: 30px;
  }
}
.site-footer::before {
  content: "";
  background: url("assets/images/top-right.png") no-repeat;
  position: absolute;
  background-size: 100%;
  width: 90px;
  height: 98px;
  right: 0;
  top: 0;
}
.site-footer::after {
  content: "";
  background: url("assets/images/bottom-left.png") no-repeat;
  position: absolute;
  background-size: 100%;
  width: 90px;
  height: 98px;
  left: 0;
  bottom: 0;
}
.site-footer .footer-title {
  font-size: 14px;
  font-family: "open_sanssemibold", sans-serif;
  color: #038788;
  margin-bottom: 15px;
}
.site-footer #menu-footer-menu {
  padding: 0;
  list-style: none;
}
.site-footer #menu-footer-menu a {
  font-family: "karlaregular", sans-serif;
  font-size: 14px;
  color: #6D6D6D;
  text-decoration: none;
}
.site-footer #menu-footer-menu li {
  margin-top: 5px;
  line-height: 18px;
}
.site-footer #menu-footer-menu li:first-of-type {
  margin-top: 0;
}
.site-footer .widget-item {
  margin-top: 30px;
}
.site-footer .widget-item:first-of-type {
  margin-top: 0;
}
.site-footer .widget-item p {
  font-family: "karlaregular", sans-serif;
  font-size: 14px;
  color: #6D6D6D;
}
.site-footer .social-media-footer #menu-social-media-footer-1 {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .site-footer .social-media-footer #menu-social-media-footer-1 {
    justify-content: center;
  }
}
.site-footer .social-media-footer li {
  font-size: 0;
}
.site-footer .social-media-footer li a {
  background: url("assets/images/media-sprite.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: 92px;
  margin-right: 15px;
}
.site-footer .social-media-footer li:last-of-type a {
  margin-right: 0;
}
.site-footer .social-media-footer li.fb a {
  background-position: 0px -1px;
  width: 21px;
  height: 21px;
}
.site-footer .social-media-footer li.ig a {
  background-position: -69px 0px;
  width: 22px;
  height: 23px;
}
.site-footer .social-media-footer li.linked-in a {
  background-position: -22px 0px;
  width: 22px;
  height: 23px;
}
.site-footer .social-media-footer li.twitter a {
  background-position: -44px 0px;
  width: 25px;
  height: 23px;
}
.site-footer .footer-4 .widget-item:first-of-type {
  min-height: 125px;
}

#homepageCarousel {
  height: 82vh;
  overflow: hidden;
}
@media (max-width: 576px) {
  #homepageCarousel {
    height: 300px;
  }
}
#homepageCarousel .persistent-video-wrapper {
  position: absolute;
  bottom: 30px;
  left: 120px;
  z-index: 16;
}
@media (max-width: 768px) {
  #homepageCarousel .persistent-video-wrapper {
    left: 5%;
  }
}
#homepageCarousel .persistent-video-wrapper .play-btn-box {
  position: relative;
  background-color: #ffffffbf;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin-right: 12px;
}
#homepageCarousel .persistent-video-wrapper .play-btn-box::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid #038788c7;
  bottom: 0;
  top: 0;
  left: 4px;
  right: 0;
  margin: auto;
  transition: 0.3s ease;
}
#homepageCarousel .persistent-video-wrapper .play-btn {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "open_sansbold", sans-serif;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s ease;
}
@media (max-width: 576px) {
  #homepageCarousel .persistent-video-wrapper .play-btn {
    font-size: 0;
  }
}
#homepageCarousel .persistent-video-wrapper .play-btn:hover {
  color: #038788;
}
#homepageCarousel .persistent-video-wrapper .play-btn:hover .play-btn-box {
  background-color: #038788c7;
}
#homepageCarousel .persistent-video-wrapper .play-btn:hover .play-btn-box::before {
  border-left: 13px solid #ffffffbf;
}
#homepageCarousel img, #homepageCarousel video {
  height: 82vh;
  object-fit: cover;
}
@media (max-width: 576px) {
  #homepageCarousel img, #homepageCarousel video {
    height: 300px;
  }
}
#homepageCarousel .carousel-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0000006e;
  z-index: 1;
}
#homepageCarousel .carousel-caption {
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 22%;
  right: 22%;
}
@media (max-width: 768px) {
  #homepageCarousel .carousel-caption {
    left: 15%;
    right: 15%;
  }
}
@media (max-width: 375px) {
  #homepageCarousel .carousel-caption {
    left: 5%;
    right: 5%;
  }
}
#homepageCarousel .carousel-caption h5 {
  font-size: 56px;
  font-family: "open_sansbold", sans-serif;
  text-shadow: 1px 3px 10px #000000;
}
@media (max-width: 1024px) {
  #homepageCarousel .carousel-caption h5 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  #homepageCarousel .carousel-caption h5 {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  #homepageCarousel .carousel-caption h5 {
    font-size: 26px;
  }
}
#homepageCarousel .carousel-caption .btn-link {
  margin-top: 15px;
}

.carousel-indicators {
  bottom: 0;
}
.carousel-indicators li {
  height: 10px;
  width: 10px;
  margin: 0 8px;
  background-color: #EBEBEB;
  opacity: 1;
}
.carousel-indicators li.active {
  background-color: #038788;
}

.capabilities-wrapper {
  height: auto;
  margin-bottom: 20px;
}
.capabilities-wrapper > .row {
  height: 100%;
  margin: 0;
}
.capabilities-wrapper .capabilities-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 8%;
  text-align: center;
}
@media (max-width: 768px) {
  .capabilities-wrapper .capabilities-container {
    padding: 50px;
  }
}
.capabilities-wrapper .capabilities-container figure {
  margin: 0;
}
.capabilities-wrapper .capabilities-container figure img {
  width: 100%;
  height: auto;
  max-width: 70%;
}
.capabilities-wrapper .capabilities-container:first-of-type {
  background-color: #038788;
  color: #FFF;
}
.capabilities-wrapper .capabilities-container:last-of-type {
  background-color: #F9F9F9;
  color: #038788;
}
.capabilities-wrapper .capabilities-container .capabilities-title {
  font-family: "open_sansbold", sans-serif;
  font-size: 18px;
  margin: 24px 0 12px;
}
@media (max-width: 768px) {
  .capabilities-wrapper .capabilities-container .capabilities-title {
    font-size: 16px;
  }
}
.capabilities-wrapper .capabilities-container p {
  max-width: 70%;
  width: 100%;
  font-size: 16px;
  font-family: "karlaregular", sans-serif;
  margin: 0;
}
@media (max-width: 768px) {
  .capabilities-wrapper .capabilities-container p {
    font-size: 12px;
    max-width: 100%;
  }
}
.capabilities-wrapper .capabilities-container .btn-link {
  margin-top: 20px;
}

.news-container .row {
  margin: 0 -6px;
}
.news-container .news-wrapper {
  text-decoration: none;
  padding: 0 6px;
}
@media (max-width: 768px) {
  .news-container .news-wrapper {
    max-width: 50%;
    flex-basis: 50%;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .news-container .news-wrapper {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 576px) {
  .news-container .news-wrapper:first-of-type {
    margin-top: 0;
  }
}
.news-container .news-wrapper.data-fancybox-class::before {
  display: none;
}
.news-container .news-wrapper.data-fancybox-class .img-wrapper {
  position: relative;
}
.news-container .news-wrapper.data-fancybox-class .img-wrapper:hover::before {
  border-left: 60px solid #038788c7;
}
.news-container .news-wrapper.data-fancybox-class .img-wrapper::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 60px solid #ffffffbf;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease;
}
.news-container .news-wrapper img {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}
@media (max-width: 768px) {
  .news-container .news-wrapper img {
    height: 30vw;
  }
}
@media (max-width: 576px) {
  .news-container .news-wrapper img {
    height: 60vw;
  }
}
.news-container .time {
  margin: 15px 0;
  color: #414141;
  font-family: "open_sansregular", sans-serif;
  font-size: 12px;
}
.news-container .news-title {
  color: #545454;
  font-family: "open_sanssemibold", sans-serif;
  font-size: 18px;
}
@media (max-width: 768px) {
  .news-container .news-title {
    font-size: 16px;
  }
}
.news-container .news-title:hover {
  color: #038788;
}

.markets-container .row {
  margin: 0 -8px;
}
.markets-container .markets-wrapper {
  position: relative;
  margin-top: 16px;
  padding: 0 8px;
}
@media (max-width: 768px) {
  .markets-container .markets-wrapper {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 576px) {
  .markets-container .markets-wrapper {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.markets-container .markets-wrapper:nth-child(-n+3) {
  margin-top: 0;
}
@media (max-width: 768px) {
  .markets-container .markets-wrapper:nth-child(-n+3) {
    margin-top: 16px;
  }
}
.markets-container .markets-wrapper img {
  width: 100%;
  height: 22vw;
  object-fit: cover;
}
@media (max-width: 768px) {
  .markets-container .markets-wrapper img {
    height: 30vw;
  }
}
@media (max-width: 576px) {
  .markets-container .markets-wrapper img {
    height: 60vw;
  }
}
.markets-container .markets-inner-wrapper {
  position: relative;
  overflow: hidden;
}
.markets-container .markets-inner-wrapper:hover .info-container {
  bottom: 0;
  opacity: 1;
}
.markets-container .markets-inner-wrapper:hover > .markets-title {
  opacity: 0;
  bottom: calc(45px + 50%);
}
.markets-container .markets-inner-wrapper:hover .btn-learn-more::after {
  width: 100%;
}
.markets-container .markets-inner-wrapper > .markets-title {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFF;
  opacity: 1;
  transition: 0.3s ease;
}
.markets-container .markets-inner-wrapper .markets-title {
  font-family: "open_sanssemibold", sans-serif;
  font-size: 18px;
}
.markets-container .info-container {
  position: absolute;
  height: 100%;
  bottom: -70%;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: rgba(3, 135, 137, 0.74);
  color: #FFF;
  padding: 0 15%;
  transition: 0.3s ease;
  opacity: 0;
}
.markets-container .info-container .markets-title {
  margin-bottom: 20px;
}
.markets-container .info-container p {
  font-family: "karlaregular", sans-serif;
  font-size: 16px;
  margin: 0;
}
@media (max-width: 1024px) {
  .markets-container .info-container p {
    font-size: 12px;
  }
}

.page-id-5 .contact-us {
  background-color: #fafafa;
  padding-top: 0;
  margin: 0;
  padding: 60px 0;
}
.page-id-5 .contact-us h2 {
  font-size: 28px;
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  margin: 0 0 50px;
}
@media (max-width: 576px) {
  .page-id-5 .contact-us h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.page-id-5 .contact-us .wp-block-columns {
  margin-bottom: 0;
}
.page-id-5 .contact-us .wp-block-columns .wp-block-column:first-of-type {
  flex-basis: 55%;
}
.page-id-5 .contact-us .wp-block-columns .wp-block-column:last-of-type {
  flex-basis: 45%;
}
@media (max-width: 576px) {
  .page-id-5 .contact-us .wp-block-columns .wp-block-column:last-of-type {
    margin-top: 30px;
  }
}
.page-id-5.home .atec-forms {
  margin-bottom: 0;
  max-width: 100%;
}
.page-id-5.home .atec-forms input, .page-id-5.home .atec-forms textarea, .page-id-5.home .atec-forms select {
  border: 1px solid #038788;
}
.page-id-5 .wpcf7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-id-5 .wpcf7 .form-title {
  display: none;
}
.page-id-5 .site-footer {
  margin-top: 0;
}

.inside-pages-banner {
  position: relative;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .inside-pages-banner {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .inside-pages-banner {
    height: 150px;
  }
}
.inside-pages-banner .banner-title {
  color: #FFF;
  font-family: "open_sansbold", sans-serif;
  font-size: 54px;
  z-index: 1;
  margin: 0;
  text-shadow: 1px 3px 10px #000000;
}
@media (max-width: 1024px) {
  .inside-pages-banner .banner-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .inside-pages-banner .banner-title {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .inside-pages-banner .banner-title {
    font-size: 26px;
  }
}
.inside-pages-banner .banner-desc {
  color: #FFF;
  font-family: "open_sanssemibold", sans-serif;
  font-size: 32px;
  z-index: 1;
  text-shadow: 1px 3px 10px #000000;
  margin: -5px 0 0;
}
@media (max-width: 768px) {
  .inside-pages-banner .banner-desc {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .inside-pages-banner .banner-desc {
    font-size: 22px;
  }
}
.inside-pages-banner.has-video-banner video {
  height: 300px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
@media (max-width: 768px) {
  .inside-pages-banner.has-video-banner video {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .inside-pages-banner.has-video-banner video {
    height: 150px;
  }
}

.inside-pages {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .inside-pages {
    margin-top: 50px;
  }
}
.inside-pages h2 {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .inside-pages h2 {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .inside-pages h2 {
    font-size: 22px;
  }
}
.inside-pages h4 {
  color: #666666;
  font-size: 18px;
  font-family: "open_sanssemibold", sans-serif;
}
.inside-pages p, .inside-pages li {
  font-size: 16px;
  font-family: "karlaregular", sans-serif;
  color: #414141;
}
@media (max-width: 768px) {
  .inside-pages p, .inside-pages li {
    font-size: 12px;
  }
}

figcaption {
  text-align: center;
  font-family: "karlaregular", sans-serif;
  font-style: italic;
}

.page-title-wrapper .page-title {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 40px;
  margin-bottom: 30px;
}

.wp-block-quote {
  padding-left: 10px;
  border-left: 3px solid #DEDEDE;
}
.wp-block-quote p {
  font-size: 16px;
  font-style: italic;
}

.wp-block-image img {
  height: auto;
}

.data-fancybox-class {
  position: relative;
}
.data-fancybox-class:hover::before {
  border-left: 60px solid #038788c7;
}
.data-fancybox-class::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 60px solid #ffffffbf;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease;
}

.page-id-106 #latestUpdates {
  margin-top: 30px;
  max-height: 350px;
  min-height: 350px;
}
@media (max-width: 768px) {
  .page-id-106 #latestUpdates {
    max-height: none;
    min-height: 0;
  }
}
.page-id-106 #latestUpdates .carousel-indicators {
  bottom: 0;
  right: 0;
  left: unset;
  margin-right: 0;
}
@media (max-width: 768px) {
  .page-id-106 #latestUpdates .carousel-indicators {
    left: 0;
    right: 0;
    margin: 0;
  }
}
.page-id-106 .latest-update-wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .page-id-106 .latest-update-wrapper {
    flex-direction: column;
  }
}
.page-id-106 .latest-update-wrapper > div {
  flex: 1;
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .page-id-106 .latest-update-wrapper > div {
    flex-basis: 100%;
  }
}
.page-id-106 .latest-update-wrapper > div img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}
@media (max-width: 768px) {
  .page-id-106 .latest-update-wrapper > div img {
    height: 50vw;
  }
}
.page-id-106 .latest-update-wrapper .media-content {
  padding: 15px 50px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
@media (max-width: 768px) {
  .page-id-106 .latest-update-wrapper .media-content {
    padding: 15px 0;
  }
}
.page-id-106 .latest-update-wrapper .media-content .time {
  font-family: "open_sansregular", sans-serif;
  font-size: 14px;
  color: #5B5B5B;
  margin: 0;
}
.page-id-106 .latest-update-wrapper .media-content .title {
  text-decoration: none !important;
  font-family: "open_sansbold", sans-serif;
  font-size: 20px;
  color: #038788;
  margin: 20px 0;
}
@media (max-width: 576px) {
  .page-id-106 .latest-update-wrapper .media-content .title {
    font-size: 16px;
  }
}
.page-id-106 .latest-update-wrapper .media-content p {
  font-family: "karlaregular", sans-serif;
  font-size: 16px;
  color: #414141;
}
@media (max-width: 768px) {
  .page-id-106 .latest-update-wrapper .media-content p {
    font-size: 12px;
  }
}
.page-id-106 .latest-update-wrapper .media-content .btn-learn-more {
  text-decoration: underline !important;
  color: #038788;
  margin: 0;
}
.page-id-106 .latest-update-wrapper .media-content .btn-link {
  margin-top: 15px;
}

.other-news {
  margin: 100px 0 100px;
}
.other-news .row > div {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .other-news .row > div {
    max-width: 50%;
    flex-basis: 50%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .other-news .row > div {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.other-news .row > div:nth-of-type(-n+3) {
  margin-top: 0;
}
.other-news .other-news-wrapper {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.other-news .other-news-wrapper.data-fancybox-class::before {
  display: none;
}
.other-news .other-news-wrapper.data-fancybox-class .img-wrapper {
  position: relative;
}
.other-news .other-news-wrapper.data-fancybox-class .img-wrapper:hover::before {
  border-left: 60px solid #038788c7;
}
.other-news .other-news-wrapper.data-fancybox-class .img-wrapper::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 60px solid #ffffffbf;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease;
}
.other-news .other-news-wrapper img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
@media (max-width: 768px) {
  .other-news .other-news-wrapper img {
    height: 30vw;
  }
}
@media (max-width: 576px) {
  .other-news .other-news-wrapper img {
    height: 50vw;
  }
}
.other-news .other-news-wrapper:hover .other-news-title {
  color: #038788;
}
.other-news .other-news-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.other-news .other-news-info .time {
  font-family: "karlaregular", sans-serif;
  color: #414141;
  font-size: 14px;
  margin: 15px 0 0;
}
.other-news .other-news-info .other-news-title {
  font-family: "open_sansbold", sans-serif;
  font-size: 16px;
  color: #545454;
  margin: 15px 0;
}
.other-news .other-news-info .btn-learn-more {
  margin-top: auto;
  text-decoration: underline !important;
  color: #038788;
}

.wp-block-embed iframe {
  width: 100%;
  height: 30vw;
}
@media (max-width: 576px) {
  .wp-block-embed iframe {
    height: 50vw;
  }
}

.single-news-container {
  display: flex;
}
@media (max-width: 576px) {
  .single-news-container {
    flex-direction: column;
  }
}
.single-news-container .article-wrapper-main {
  width: 70%;
  padding-right: 50px;
}
@media (max-width: 1024px) {
  .single-news-container .article-wrapper-main {
    padding-right: 30px;
  }
}
@media (max-width: 576px) {
  .single-news-container .article-wrapper-main {
    width: 100%;
    padding-right: 0;
  }
}
.single-news-container .article-sidebar {
  width: 30%;
  padding-left: 50px;
}
@media (max-width: 1024px) {
  .single-news-container .article-sidebar {
    padding-left: 30px;
  }
}
@media (max-width: 576px) {
  .single-news-container .article-sidebar {
    width: 100%;
    padding-left: 0;
  }
}
.single-news-container .article-body img {
  max-width: 100%;
}

.article-header .article-title-wrapper .article-title {
  font-size: 26px;
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .article-header .article-title-wrapper .article-title {
    font-size: 20px;
  }
}
.article-header .article-sharer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5B5B5B;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.article-header .article-sharer .time {
  font-family: "open_sansregular", sans-serif;
  font-size: 14px;
  color: #5B5B5B;
  margin: 0;
}
.article-header .article-sharer .sm-sharer {
  display: flex;
}
.article-header .article-sharer .sm-sharer-sprite {
  background: url("assets/images/media-sprite.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 80px;
  margin-right: 15px;
}
.article-header .article-sharer .sm-sharer-sprite:last-of-type {
  margin: 0;
}
.article-header .article-sharer .sm-sharer-sprite.twitter {
  width: 21px;
  height: 18px;
  background-position: -39px -1px;
}
.article-header .article-sharer .sm-sharer-sprite.fb {
  width: 19px;
  height: 19px;
  background-position: 0 -1px;
}

.article-sidebar .sidebar-title {
  font-size: 20px;
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  margin-bottom: 20px;
}
.article-sidebar .article-list {
  list-style: none;
  padding: 0;
}
.article-sidebar .article-list li {
  margin-top: 15px;
}
.article-sidebar .article-list li:first-of-type {
  margin-top: 0;
}
.article-sidebar .article-list a {
  font-size: 14px;
  font-family: "karlaregular", sans-serif;
  color: #414141;
  text-decoration: none;
}
.article-sidebar .btn-learn-more {
  color: #038788;
  text-decoration: underline !important;
  margin-top: 20px;
}

.page-id-153 .markets-inner-wrapper {
  position: relative;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .page-id-153 .markets-inner-wrapper {
    max-width: 50%;
    flex-basis: 50%;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .page-id-153 .markets-inner-wrapper {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.page-id-153 .markets-inner-wrapper:nth-of-type(-n+3) {
  margin-top: 0;
}
.page-id-153 .markets-inner-wrapper img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
@media (max-width: 768px) {
  .page-id-153 .markets-inner-wrapper img {
    height: 30vw;
  }
}
@media (max-width: 576px) {
  .page-id-153 .markets-inner-wrapper img {
    height: 50vw;
  }
}
.page-id-153 .markets-inner-wrapper .img-wrapper {
  position: relative;
}
.page-id-153 .markets-inner-wrapper .markets-title {
  font-size: 18px;
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  margin: 20px 0;
}
.page-id-153 .markets-inner-wrapper p {
  font-family: "karlaregular", sans-serif;
  font-size: 14px;
  margin: 0;
}
.page-id-153 .markets-inner-wrapper .btn-learn-more {
  text-decoration: underline !important;
  color: #038789;
}

.single-market .quote-wrapper {
  display: flex;
  background-color: #F9F9F9;
  align-items: center;
}
@media (max-width: 576px) {
  .single-market .quote-wrapper {
    flex-direction: column;
  }
}
.single-market .quote-wrapper > div {
  flex-basis: 50%;
}
@media (max-width: 576px) {
  .single-market .quote-wrapper > div {
    flex-basis: 100%;
  }
}
.single-market .quote-wrapper .quote-text {
  padding-left: 12.5%;
  padding-right: 50px;
}
@media (max-width: 576px) {
  .single-market .quote-wrapper .quote-text {
    padding: 25px 10% 15px;
  }
}
.single-market .quote-wrapper .quote-text p {
  font-family: "open_sanssemibold", sans-serif;
  font-size: 22px;
  color: #5B5B5B;
}
@media (max-width: 768px) {
  .single-market .quote-wrapper .quote-text p {
    font-size: 16px;
  }
}
.single-market .quote-wrapper .quote-img img {
  width: 100%;
  height: auto;
}
.single-market .related-news {
  margin-top: 80px;
}
.single-market .related-news-wrapper {
  display: flex;
  flex-direction: column;
}
.single-market .related-news-wrapper .related-news-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.single-market .related-news-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.single-market .related-news-wrapper .time {
  color: #414141;
  font-family: "karlaregular", sans-serif;
  font-size: 14px;
  margin: 15px 0 0;
}
.single-market .related-news-wrapper .related-news-title {
  font-family: "open_sansbold", sans-serif;
  font-size: 16px;
  margin: 15px 0;
  color: #038788;
}
.single-market .related-news-wrapper .btn-learn-more {
  margin-top: auto;
  text-decoration: underline !important;
  color: #038788;
}
.single-market .contact-us-markets {
  background-color: #038788;
  margin-bottom: -60px;
  padding: 80px 0;
  text-align: center;
}
.single-market .contact-us-markets .contact-message {
  font-family: "open_sansbold", sans-serif;
  font-size: 30px;
  color: #FFF;
  text-shadow: 0px 1px 3px #565656;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .single-market .contact-us-markets .contact-message {
    font-size: 22px;
  }
}

.atec-forms {
  max-width: 600px;
  margin: 50px auto;
}
.atec-forms .form-group {
  padding: 0 5px;
  margin-bottom: 10px;
}
.atec-forms .attach-resume {
  display: flex;
  align-items: center;
}
.atec-forms .attach-resume .wpcf7-form-control-wrap {
  display: none;
}
.atec-forms .attach-resume #resumeField {
  flex-basis: 80%;
}
.atec-forms .attach-resume .file-upload {
  flex-basis: 20%;
  border: 1px solid #5B5B5B;
  margin-left: 10px;
  text-align: center;
  padding: 7px 15px;
  font-size: 12px;
  font-family: "open_sanssemibold", sans-serif;
  color: #5B5B5B;
  height: 33px;
  text-decoration: none;
  transition: 0.2s ease;
}
.atec-forms .attach-resume .file-upload:hover, .atec-forms .attach-resume .file-upload:focus, .atec-forms .attach-resume .file-upload:active {
  background-color: #038788;
  border-color: #038788;
  color: #FFF;
}
.atec-forms input, .atec-forms textarea, .atec-forms select {
  font-size: 14px;
  padding: 8px 15px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #707070;
  font-family: "karlaregular", sans-serif;
  outline: 0 !important;
}
.atec-forms input::placeholder, .atec-forms textarea::placeholder, .atec-forms select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #41414159;
  opacity: 1;
  /* Firefox */
}
.atec-forms input:-ms-input-placeholder, .atec-forms textarea:-ms-input-placeholder, .atec-forms select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #41414159;
}
.atec-forms input::-ms-input-placeholder, .atec-forms textarea::-ms-input-placeholder, .atec-forms select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #41414159;
}
.atec-forms input:hover, .atec-forms input:focus, .atec-forms input:active, .atec-forms textarea:hover, .atec-forms textarea:focus, .atec-forms textarea:active, .atec-forms select:hover, .atec-forms select:focus, .atec-forms select:active {
  border-color: #038788;
}
.atec-forms select {
  padding: 8px 10px;
}
.atec-forms .frm-btn {
  padding: 0 5px;
}
.atec-forms .frm-btn .wpcf7-submit {
  float: right;
  font-size: 12px;
  font-family: "open_sanssemibold", sans-serif;
  width: auto;
  background-color: #038788;
  color: #FFF;
  border: 0;
  padding: 8px 16px;
  min-width: 120px;
  transition: 0.2s ease;
}

.home .atec-forms {
  margin-top: 0;
  max-width: 480px;
}
.home .atec-forms .form-title {
  font-family: "open_sansbold", sans-serif;
  font-size: 26px;
  color: #038788;
  margin-bottom: 20px;
  padding: 0 5px;
}
.home .atec-forms .frm-btn .wpcf7-submit {
  color: #FFF;
  background-color: #038788;
}

.contact-us-container .gmap-wrapper {
  margin-bottom: 30px;
}
.contact-us-container .gmap-wrapper iframe {
  width: 100%;
}
.contact-us-container .contact-details-wrapper .contact-title {
  text-align: right;
}
.contact-us-container .contact-details-wrapper .contact-title p {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 14px;
}
.contact-us-container .contact-details-wrapper .contact-desc p {
  font-family: "karlaregular", sans-serif;
  font-size: 14px;
  color: #414141;
}

.page-id-191 .atec-forms {
  margin: 0 -5px 0;
}
.page-id-191 .left-content {
  text-align: center;
}
.page-id-191 .right-content {
  max-width: 800px;
  margin: auto;
  display: flex;
}
.page-id-191 .right-content > div {
  width: 50%;
}

#wpcf7-f197-p191-o1 .form-group {
  padding: 0;
}
#wpcf7-f197-p191-o1 .atec-forms {
  margin: 30px auto;
}

.message-wrapper {
  background-color: #038788;
  margin-bottom: -60px;
  color: #FFF;
}
.message-wrapper .row {
  margin: 0;
}
.message-wrapper .msg-wrapper {
  display: flex;
  flex-direction: column;
}
.message-wrapper .msg-wrapper:first-of-type {
  padding: 50px 7%;
}
.message-wrapper .msg-wrapper:last-of-type {
  padding: 50px 7%;
  background-color: #F9F9F9;
  color: #038788;
}
.message-wrapper .msg-wrapper:last-of-type p {
  color: #414141;
}
.message-wrapper .msg-wrapper:last-of-type p strong {
  font-family: "open_sansbold", sans-serif;
}
.message-wrapper .msg-title {
  font-family: "open_sansbold", sans-serif;
  font-size: 26px;
  margin: 0 0 20px;
  text-align: center;
}
@media (max-width: 576px) {
  .message-wrapper .msg-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
}
.message-wrapper p {
  color: #FFF;
  font-size: 16px;
  font-family: "open_sanslight", sans-serif;
}
@media (max-width: 768px) {
  .message-wrapper p {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .message-wrapper p {
    text-align: center;
  }
}
.message-wrapper p br {
  margin-bottom: 5px !important;
  display: block !important;
  content: "";
}
.message-wrapper p:last-of-type {
  margin-bottom: 0;
}

.vision-mission-wrapper ul {
  padding: 0;
  list-style: none;
}
.vision-mission-wrapper ul li {
  position: relative;
  display: flex;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .vision-mission-wrapper ul li {
    text-align: left;
  }
}
.vision-mission-wrapper ul li::before {
  content: "";
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  display: block;
  background-color: #d2d2d2;
  margin-top: 5px;
  margin-right: 15px;
}
.vision-mission-wrapper .img-wrapper {
  padding: 0;
}
.vision-mission-wrapper .img-wrapper img {
  width: 100%;
  height: auto;
}
.vision-mission-wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 0;
}
@media (max-width: 576px) {
  .vision-mission-wrapper .content {
    padding: 15px !important;
    text-align: center;
  }
}
.vision-mission-wrapper .vm-wrapper {
  padding: 30px 0;
}
@media (max-width: 576px) {
  .vision-mission-wrapper .vm-wrapper {
    padding: 0;
  }
}
.vision-mission-wrapper .vm-wrapper:nth-of-type(2n+2) .row {
  flex-direction: row-reverse;
}
.vision-mission-wrapper .vm-wrapper:nth-of-type(2n+2) .row .content {
  padding-left: 0;
  padding-right: 50px;
}
.vision-mission-wrapper .vm-title {
  font-family: "open_sansbold", sans-serif;
  font-size: 26px;
  margin: 0 0 20px;
  text-align: center;
  color: #038788;
}
@media (max-width: 576px) {
  .vision-mission-wrapper .vm-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.certifications-wrapper {
  margin-top: 50px;
}
@media (max-width: 576px) {
  .certifications-wrapper .col-md-4 {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .certifications-wrapper .col-md-4:first-of-type {
    margin-top: 0;
  }
}
.certifications-wrapper .cert-container {
  text-align: center;
  text-decoration: none;
  display: block;
}
.certifications-wrapper .cert-container:hover img {
  transform: scale(1.1);
}
.certifications-wrapper .cert-container img {
  margin-bottom: 20px;
  max-width: 100%;
  width: 30%;
  transform: scale(1);
  transition: 0.3s ease;
}

.mangement-wrapper > .row {
  margin: 0 -30px;
}

.management-inner {
  text-align: center;
  text-decoration: none !important;
  margin-top: 30px;
  padding: 0 30px;
}
.management-inner:nth-of-type(-n+3) {
  margin-top: 0;
}
@media (max-width: 576px) {
  .management-inner:nth-of-type(-n+3) {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .management-inner:first-of-type {
    margin-top: 0;
  }
}
.management-inner .img-wrapper {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .management-inner .img-wrapper {
    margin-bottom: 10px;
  }
}
.management-inner .img-wrapper img {
  width: 100%;
  height: auto;
}
.management-inner .management-name {
  font-family: "open_sansbold", sans-serif;
  font-size: 20px;
  color: #038788;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .management-inner .management-name {
    font-size: 18px;
  }
}
.management-inner .position {
  margin: 0;
}

.management-modal .modal-body {
  display: flex;
  padding: 30px;
}
@media (max-width: 576px) {
  .management-modal .modal-body {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.management-modal .modal-content {
  border: 0;
  border-radius: 0;
}
.management-modal .modal-dialog {
  max-width: 920px;
}
@media (max-width: 768px) {
  .management-modal .modal-dialog {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .management-modal .modal-dialog {
    margin: 30px auto;
  }
}
.management-modal .close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #038788;
}
.management-modal .img-wrapper {
  margin-right: 30px;
  flex-basis: 30%;
}
@media (max-width: 576px) {
  .management-modal .img-wrapper {
    max-width: 500px;
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.management-modal .img-wrapper img {
  width: 100%;
  height: auto;
}
.management-modal .management-name {
  font-family: "open_sansbold", sans-serif;
  font-size: 26px;
  color: #038788;
}
@media (max-width: 576px) {
  .management-modal .management-name {
    font-size: 18px;
  }
}
.management-modal .position {
  font-family: "open_sanssemibold", sans-serif;
  font-size: 18px;
  color: #5B5B5B;
}
@media (max-width: 576px) {
  .management-modal .position {
    font-size: 16px;
  }
}
.management-modal .management-info-wrapper {
  flex-basis: 70%;
}
.management-modal .management-info {
  height: 350px;
  overflow-y: scroll;
  padding-right: 50px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 576px) {
  .management-modal .management-info {
    height: 200px;
    padding-right: 15px;
  }
}
.management-modal .management-info::-webkit-scrollbar {
  width: 5px;
}
.management-modal .management-info::-webkit-scrollbar-track {
  background: #FFF;
}
.management-modal .management-info::-webkit-scrollbar-thumb {
  background: rgba(3, 135, 136, 0.48);
}
.management-modal .management-info::-webkit-scrollbar-thumb:hover {
  background: #038788;
}

/* NEED TO FIX ACTIVE CROPPED BULLET - OVERFLOW HIDDEN ISSUE */
.history-wrapper {
  clear: both;
}
.history-wrapper .year-bar {
  padding: 60px 0 30px;
  height: 1px;
  justify-content: space-around;
  overflow: hidden;
}
.history-wrapper .year-bar::before {
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background-color: #b7b7b7;
}
.history-wrapper .year-bar .slick-list {
  overflow: unset !important;
}
.history-wrapper .year-bar-bullet {
  outline: none;
  position: relative;
}
.history-wrapper .year-bar-bullet::before {
  content: "";
  display: block;
  background: #B7B7B7;
  height: 16px;
  width: 16px;
  border-radius: 100px;
  z-index: 10;
  margin-top: -8px;
  cursor: pointer;
}
.history-wrapper .year-bar-bullet p {
  margin: 0;
  position: absolute;
  top: -35px;
  left: -8px;
  color: #B7B7B7;
  font-family: "karlaregular", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.history-wrapper .slick-current.year-bar-bullet p {
  font-size: 18px;
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  left: -12px;
  top: -40px;
}
.history-wrapper .slick-current.year-bar-bullet::before {
  background-color: #038788;
}
.history-wrapper .labels {
  margin-top: 50px;
  text-align: center;
}
.history-wrapper .slick-prev,
.history-wrapper .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 32px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.history-wrapper .slick-prev:hover, .history-wrapper .slick-prev:focus,
.history-wrapper .slick-next:hover,
.history-wrapper .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.history-wrapper .slick-prev:hover::before, .history-wrapper .slick-prev:focus::before,
.history-wrapper .slick-next:hover::before,
.history-wrapper .slick-next:focus::before {
  opacity: 1;
}
.history-wrapper .slick-prev.slick-disabled::before,
.history-wrapper .slick-next.slick-disabled::before {
  opacity: 0.25;
}
.history-wrapper .slick-prev::before,
.history-wrapper .slick-next::before {
  font-size: 32px;
  line-height: 1;
  opacity: 0.75;
  color: #000000;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 576px) {
  .history-wrapper .slick-prev::before,
.history-wrapper .slick-next::before {
    background-size: 15px !important;
    width: 15px !important;
    height: 28px !important;
  }
}
.history-wrapper .slick-arrow {
  z-index: 3;
}
.history-wrapper .slick-arrow::before {
  content: "";
  width: 24px;
  height: 43px;
  display: block;
}
.history-wrapper .slick-arrow.slick-disabled {
  opacity: 0;
}
.history-wrapper .slick-prev {
  left: 15px;
}
.history-wrapper .slick-prev::before {
  background: url(assets/images/prev.png) no-repeat 0 0;
}
.history-wrapper .slick-next {
  right: 15px;
}
.history-wrapper .slick-next::before {
  background: url(assets/images/next.png) no-repeat 0 0;
}
.history-wrapper .qb-button {
  display: inline-block;
  background: #00ffa4;
  border-radius: 100px;
  padding: 5px 15px;
  margin-bottom: 15px;
  color: #445058;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
.history-wrapper .qb-button:hover {
  color: #000;
}
.history-wrapper .history-container {
  outline: 0 !important;
}
.history-wrapper .history-container-inner {
  border: 1px solid #707070;
  display: flex;
  padding: 40px 7%;
  margin: 30px auto 0;
  max-width: 99%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .history-wrapper .history-container-inner {
    flex-direction: column;
    padding: 40px 50px;
  }
}
.history-wrapper .history-container-inner > div {
  flex-basis: 50%;
}
.history-wrapper .history-container-inner .left-content {
  padding-right: 60px;
}
@media (max-width: 768px) {
  .history-wrapper .history-container-inner .left-content {
    padding-right: 30px;
  }
}
@media (max-width: 576px) {
  .history-wrapper .history-container-inner .left-content {
    padding-right: 0;
    margin-bottom: 15px;
  }
}
.history-wrapper .history-container-inner .left-content img {
  width: 100%;
  height: auto;
}
.history-wrapper .history-container-inner .year {
  font-family: "open_sansbold", sans-serif;
  font-size: 26px;
  color: #038788;
}
@media (max-width: 576px) {
  .history-wrapper .history-container-inner .year {
    font-size: 22px;
  }
}
.history-wrapper .history-container-inner .subtitle {
  font-family: "open_sansbold", sans-serif;
  font-size: 20px;
  color: #5B5B5B;
}
@media (max-width: 576px) {
  .history-wrapper .history-container-inner .subtitle {
    font-size: 16px;
  }
}

.search-page {
  margin-top: 50px;
}
.search-page .search-for {
  margin-bottom: 50px;
}
.search-page .search-for h1 {
  font-size: 30px;
  color: #5B5B5B;
  font-family: "open_sansbold", sans-serif;
  margin: 0;
}
@media (max-width: 576px) {
  .search-page .search-for h1 {
    font-size: 22px;
  }
}
.search-page .search-for h1 strong {
  color: #038788;
}
.search-page ._init_search_result {
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .search-page ._init_search_result {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
.search-page ._init_search_result:last-of-type {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.search-page ._init_search_result h2 {
  margin: 0;
}
.search-page ._init_search_result h2 a {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 26px;
  text-decoration: none;
}
@media (max-width: 576px) {
  .search-page ._init_search_result h2 a {
    font-size: 18px;
  }
}

.page-id-370 .inside-pages h2, .page-id-398 .inside-pages h2 {
  font-size: 20px;
}
.page-id-370 .inside-pages .content-wrapper ul, .page-id-398 .inside-pages .content-wrapper ul {
  max-width: 80%;
  margin: auto;
  padding: 0;
  list-style: none;
}
@media (max-width: 1024px) {
  .page-id-370 .inside-pages .content-wrapper ul, .page-id-398 .inside-pages .content-wrapper ul {
    max-width: 100%;
  }
}
.page-id-370 .inside-pages .content-wrapper ul li, .page-id-398 .inside-pages .content-wrapper ul li {
  position: relative;
  display: flex;
  margin-bottom: 5px;
}
.page-id-370 .inside-pages .content-wrapper ul li::before, .page-id-398 .inside-pages .content-wrapper ul li::before {
  content: "";
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  display: block;
  background-color: #d2d2d2;
  margin-top: 5px;
  margin-right: 15px;
}
.page-id-370 .quote-wrapper, .page-id-398 .quote-wrapper {
  background-color: #038788;
}
.page-id-370 .quote-wrapper .atec-inner-container, .page-id-398 .quote-wrapper .atec-inner-container {
  padding: 100px 0;
  position: relative;
}
.page-id-370 .quote-wrapper .atec-inner-container .quote-icon, .page-id-398 .quote-wrapper .atec-inner-container .quote-icon {
  display: inline-flex;
  position: absolute;
}
.page-id-370 .quote-wrapper .atec-inner-container .quote-icon.top, .page-id-398 .quote-wrapper .atec-inner-container .quote-icon.top {
  top: 60px;
  left: 0;
}
.page-id-370 .quote-wrapper .atec-inner-container .quote-icon.top .quote::before, .page-id-398 .quote-wrapper .atec-inner-container .quote-icon.top .quote::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #FFF;
  position: absolute;
  top: -10px;
  left: 0;
}
.page-id-370 .quote-wrapper .atec-inner-container .quote-icon.bottom, .page-id-398 .quote-wrapper .atec-inner-container .quote-icon.bottom {
  bottom: 60px;
  right: 0;
}
.page-id-370 .quote-wrapper .atec-inner-container .quote-icon.bottom .quote::before, .page-id-398 .quote-wrapper .atec-inner-container .quote-icon.bottom .quote::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #FFF;
  position: absolute;
  bottom: -10px;
  right: 0;
}
.page-id-370 .quote-wrapper .atec-inner-container .quote-icon .quote, .page-id-398 .quote-wrapper .atec-inner-container .quote-icon .quote {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  margin-right: 5px;
  position: relative;
}
.page-id-370 .quote-wrapper .atec-inner-container .quote-icon .quote:last-of-type, .page-id-398 .quote-wrapper .atec-inner-container .quote-icon .quote:last-of-type {
  margin: 0;
}
.page-id-370 .quote-wrapper .quote-title, .page-id-398 .quote-wrapper .quote-title {
  font-family: "open_sanslight", sans-serif;
  color: #bdeded;
  text-align: center;
  font-size: 32px;
  line-height: 46px;
}
@media (max-width: 768px) {
  .page-id-370 .quote-wrapper .quote-title, .page-id-398 .quote-wrapper .quote-title {
    font-size: 26px;
    line-height: 40px;
  }
}
@media (max-width: 576px) {
  .page-id-370 .quote-wrapper .quote-title, .page-id-398 .quote-wrapper .quote-title {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .page-id-370 .quote-wrapper .quote-title br, .page-id-398 .quote-wrapper .quote-title br {
    display: none;
  }
}
.page-id-370 .semiconductor-types-wrapper, .page-id-398 .semiconductor-types-wrapper {
  border-top: 1px solid #e0e0e0;
  margin-top: 40px;
  padding-top: 40px;
}
.page-id-370 .semiconductor-types-wrapper:first-of-type, .page-id-398 .semiconductor-types-wrapper:first-of-type {
  border: 0;
  margin-top: 0;
  padding-top: 0;
}
.page-id-370 .semiconductor-types-wrapper .title-wrapper .title, .page-id-398 .semiconductor-types-wrapper .title-wrapper .title {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .page-id-370 .semiconductor-types-wrapper .title-wrapper .title, .page-id-398 .semiconductor-types-wrapper .title-wrapper .title {
    font-size: 22px;
  }
}
.page-id-370 .semiconductor-types-wrapper .title-wrapper p, .page-id-398 .semiconductor-types-wrapper .title-wrapper p {
  font-size: 16px;
  font-family: "karlaregular", sans-serif;
  color: #414141;
}
@media (max-width: 768px) {
  .page-id-370 .semiconductor-types-wrapper .title-wrapper p, .page-id-398 .semiconductor-types-wrapper .title-wrapper p {
    font-size: 12px;
  }
}
.page-id-370 .semiconductor-types-wrapper .articles, .page-id-398 .semiconductor-types-wrapper .articles {
  margin-top: 25px;
}
.page-id-370 .semiconductor-types-wrapper .know-more, .page-id-398 .semiconductor-types-wrapper .know-more {
  color: #038788;
  font-family: "open_sanssemibold", sans-serif;
  font-size: 12px;
  text-decoration: underline;
}
.page-id-370 .semiconductor-types-articles, .page-id-398 .semiconductor-types-articles {
  text-decoration: none !important;
}
.page-id-370 .semiconductor-types-articles:hover .title, .page-id-398 .semiconductor-types-articles:hover .title {
  color: #038788;
}
.page-id-370 .semiconductor-types-articles:nth-of-type(n+4), .page-id-398 .semiconductor-types-articles:nth-of-type(n+4) {
  margin-top: 25px;
}
.page-id-370 .semiconductor-types-articles img, .page-id-398 .semiconductor-types-articles img {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}
@media (max-width: 576px) {
  .page-id-370 .semiconductor-types-articles img, .page-id-398 .semiconductor-types-articles img {
    height: 50vw;
  }
}
.page-id-370 .semiconductor-types-articles .title, .page-id-398 .semiconductor-types-articles .title {
  font-family: "open_sansbold", sans-serif;
  font-size: 18px;
  color: #545454;
  margin: 15px 0;
}
@media (max-width: 768px) {
  .page-id-370 .semiconductor-types-articles .title, .page-id-398 .semiconductor-types-articles .title {
    font-size: 16px;
  }
}
.page-id-370 .semiconductor-types-articles p, .page-id-398 .semiconductor-types-articles p {
  font-family: "karlaregular", sans-serif;
  font-size: 16px;
  color: #545454;
}
@media (max-width: 768px) {
  .page-id-370 .semiconductor-types-articles p, .page-id-398 .semiconductor-types-articles p {
    font-size: 12px;
  }
}
.page-id-370 .semiconductor-types-articles .know-more, .page-id-398 .semiconductor-types-articles .know-more {
  color: #038788;
  font-family: "open_sanssemibold", sans-serif;
  font-size: 12px;
}

.semiconductor-article-page {
  display: flex;
  margin-bottom: -60px;
}
@media (max-width: 576px) {
  .semiconductor-article-page {
    flex-direction: column-reverse;
  }
}
.semiconductor-article-page .quicklinks {
  flex-basis: 35%;
  padding-left: 15%;
  background-color: #fbfbfb;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .semiconductor-article-page .quicklinks {
    padding-left: 10%;
    padding-right: 15px;
  }
}
@media (max-width: 576px) {
  .semiconductor-article-page .quicklinks {
    padding: 30px 10%;
    display: flex;
    flex-wrap: wrap;
  }
}
.semiconductor-article-page .main-article {
  flex-basis: 65%;
  padding-right: 15%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .semiconductor-article-page .main-article {
    padding-right: 10%;
  }
}
@media (max-width: 576px) {
  .semiconductor-article-page .main-article {
    padding: 30px 10%;
  }
}
.semiconductor-article-page .main-article .title {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 24px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .semiconductor-article-page .main-article .title {
    font-size: 20px;
  }
}
.semiconductor-article-page .main-article p, .semiconductor-article-page .main-article li {
  font-size: 16px;
  font-family: "karlaregular", sans-serif;
}
@media (max-width: 768px) {
  .semiconductor-article-page .main-article p, .semiconductor-article-page .main-article li {
    font-size: 12px;
  }
}
.semiconductor-article-page .semiconductor-types-wrapper {
  margin-top: 25px;
}
@media (max-width: 576px) {
  .semiconductor-article-page .semiconductor-types-wrapper {
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 15px;
  }
}
.semiconductor-article-page .semiconductor-types-wrapper:first-of-type {
  margin-top: 0;
}
.semiconductor-article-page .semiconductor-types-wrapper .title-wrapper .title {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 18px;
  margin-bottom: 10px;
}
.semiconductor-article-page .semiconductor-types-wrapper .title-wrapper .title a {
  color: #038788;
  text-decoration: none;
}
.semiconductor-article-page .semiconductor-types-wrapper .title-wrapper .title.active a, .semiconductor-article-page .semiconductor-types-wrapper .title-wrapper .title:hover a {
  color: #038788;
}
.semiconductor-article-page .semiconductor-types-wrapper .semiconductor-types-articles {
  text-decoration: none !important;
  position: relative;
  display: flex;
}
.semiconductor-article-page .semiconductor-types-wrapper .semiconductor-types-articles:hover .title, .semiconductor-article-page .semiconductor-types-wrapper .semiconductor-types-articles.active .title {
  color: #038788;
}
.semiconductor-article-page .semiconductor-types-wrapper .semiconductor-types-articles:hover::before, .semiconductor-article-page .semiconductor-types-wrapper .semiconductor-types-articles.active::before {
  background-color: #038788;
}
.semiconductor-article-page .semiconductor-types-wrapper .semiconductor-types-articles::before {
  content: "";
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  display: block;
  background-color: #d2d2d2;
  margin-top: 4px;
  margin-right: 10px;
}
.semiconductor-article-page .semiconductor-types-wrapper .semiconductor-types-articles .title {
  font-family: "karlaregular", sans-serif;
  font-size: 14px;
  color: #545454;
}

.page-id-398 .article-wrapper {
  margin: 100px 0;
}

.downloads-mainwrapper .subtitle {
  font-family: "open_sansbold", sans-serif;
  color: #038788;
  font-size: 22px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .downloads-mainwrapper .subtitle {
    font-size: 18px;
  }
}
.downloads-mainwrapper .downloads-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  text-decoration: none;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.downloads-mainwrapper .downloads-wrapper p {
  color: #000;
  margin: 0;
  font-family: "karlaregular", sans-serif;
  font-size: 16px;
}
.downloads-mainwrapper .downloads-wrapper .fa {
  color: #038788;
}

.job-openings-wrapper .title-wrapper .title {
  margin: 0;
}

.jobs-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.jobs-wrapper .title {
  font-family: "open_sansbold", sans-serif;
  font-size: 16px;
  color: #545454;
  margin: 0 0 5px;
}
.jobs-wrapper .employment-type {
  font-size: 14px;
  margin-bottom: 15px;
}
.jobs-wrapper .btn-link {
  margin-top: auto;
}

/*# sourceMappingURL=style.css.map */
